{% load static %}

<section class="z-20 flex justify-center items-center h-full w-full fixed left-0 top-0 backdrop-blur bg-blue-blur">
    <div class="bg-white mx-2.5 px-5 grow">
        {% include "partials/vertical-spacer.html" with space="7.5" %}
        <h2 class="text-large text-center w-full">
            Change River description
        </h2>
        {% include "partials/vertical-spacer.html" with space="6" %}


        <form hx-put="{% url 'edit_river' river.slug %}" hx-target="#river-description" hx-swap="innerHTML" class="mb-0">

            {% csrf_token %}

            {% include "partials/input-label.html" with for="description" label="New River description" %}
            <input id=river-description-input name=description type=text placeholder="{{ river.description }}" value=""
                   class="input-text input-text-invalid">
            {% include "partials/vertical-spacer.html" with space="1.5" %}
            {% include "partials/input-note.html" with for="title" label="You can change river title until you create the poll" %}
            {% include "partials/vertical-spacer.html" with space="4.5" %}
            <div class="flex items-center justify-center">
                <button x-on:click="editing = !editing"
                        type="button"
                        class="button button-on-white">
                    Back
                </button>
                {% include "partials/horizontal-spacer.html" with space="4.5" %}
                {% comment %}
               {% endcomment %}
                <button
                        x-on:click="()=>{
                        enableBodyScroll();
                        //remove settings
                        open = !open;

                        // editing unblock
                        editing = !editing;

                        //aligning input with placeholder in case someone wants to change again
                        var descriptionInput = document.getElementById('river-description-input')
                        descriptionInput.placeholder = descriptionInput.value
                        setTimeout(()=>{
                            descriptionInput.value = ''
                        }, 500)

                        }"
                        type="submit"
                        class="button button-on-white">

                    Submit
                </button>
            </div>
            {% include "partials/vertical-spacer.html" with space="7.5" %}
        </form>
    </div>
</section>

{% block scripts %}


{% endblock %}