{% extends "partials/overlay-river-closable.html" %}
{% block overlay_title %}Change River image{% endblock %}
{% load static %}

{% block river_overlay_content %}

<form hx-post="{% url 'edit_river' river.slug %}"
      hx-target="#river-image"
      hx-swap="outerHTML"
      hx-encoding='multipart/form-data'
      class="mb-0">

    {% csrf_token %}


    {% include "partials/input-label.html" with for="image" label="Select image to preview" %}
    {% include "partials/input-file.html" with id="river-image-upload" name="image" accept="image/png, image/jpeg, image/webp" %}

    {% include "partials/vertical-spacer.html" with space="6" %}
    <div class="w-full">
        <img id="image-preview" class="h-auto"/>
    </div>

    {% include "partials/vertical-spacer.html" with space="6" %}
    <div class="flex items-center justify-center">
        <button @click="()=>{
                                editing = !editing
                                document.getElementById('river-image-upload').value = ''
                                document.getElementById('image-preview').src = ''
                }
                "
                type="button"
                class="button button-on-white">
            Back
        </button>
        {% include "partials/horizontal-spacer.html" with space="4.5" %}
        {% comment %}
               {% endcomment %}
        <button
                @click="()=>{
                        enableBodyScroll();
                        //remove settings
                        open = !open;

                        // editing unblock
                        editing = !editing;


                        //clear image upload area
                        setTimeout(()=>{
                                document.getElementById('river-image-upload').value = ''
                                document.getElementById('image-preview').src = ''
                        }, 1500)

                        }"
                type="submit"
                class="button button-on-white">

            Submit
        </button>
    </div>
</form>
<script>
    document.getElementById('river-image-upload').onchange = function () {
        let src = URL.createObjectURL(this.files[0])
        document.getElementById('image-preview').src = src
    }
</script>
{% endblock %}





