<ul>
    {% for entry in list_items %}
        {% comment %}
            TODO: check whether the entry is a message, notification, river or resource
            {% endcomment %}

        {# Notification #}
        <li class="bg-gray-light rounded-xl p-3 pt-1.5 pb-6 mb-9 last:mb-0">
            <p class="font-kanit-400 text-black-meta text-xxxs tracking-widest leading-normal pb-2.5">28/03/2022
                20:05</p>
            <p class="font-garamond-500 text-black-text text-md leading-tight pb-3">{{ entry }}</p>
            <a href="" class="inline-block rounded-full px-4 py-4 absolute
                font-kanit-700 uppercase font-medium text-xxs tracking-widest leading-4
                text-purple bg-white
                hover:bg-resources-one focus:bg-resources-one
                transition ease-out duration-300">
                See more
            </a>
        </li>

        {# River #}

        {# Resource #}

    {% endfor %}
</ul>
