<div class="flex flex-col desktop:flex-row gap-6">
    <div class="basis-1/2 flex flex-col gap-6">
        <div>
            <label for="subject" class="block pb-2.5 uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black/75">
                Subject
            </label>
            <select id="subject" name="subject" class="input-text {% if style == 'primary_colour' %}bg-white{% endif %}" tabindex="1">
                <option value="resources">Suggest resources</option>
                <option value="feedback">Send your feedback</option>
                <option value="rollout">Enquire about roll out in your area</option>
                <option value="bug">Report a bug</option>
                {% if user.postcode_changes < 1 %}
                    <option value="postcode">Change your postcode</option>
                {% endif %}
                <option value="other">Other</option>
            </select>
        </div>

        <div>
            <label for="email" class="block pb-2.5 uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black/75">
                Email
            </label>
            <input type="email" name="email" id="email" class="input-text {% if style == 'primary_colour' %}bg-white{% endif %}" tabindex="2" required>
        </div>

        <div class="hidden desktop:block">
            <button class="button {% if style == 'primary_colour' %}button-on-colour{% else %}button-on-white{% endif %}" tabindex="4" type="submit">Send</button>
        </div>
    </div>

    <div class="basis-1/2">
        <label for="message" class="block pb-2.5 uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black/75">
            Message
        </label>
        <textarea name="message" id="message" cols="30" rows="12" class="input-text {% if style == 'primary_colour' %}bg-white{% endif %}" tabindex="3"></textarea>
    </div>

    <div class="desktop:hidden">
        <button class="button {% if style == 'primary_colour' %}button-on-colour{% else %}button-on-white{% endif %}" tabindex="4" type="submit">Send</button>
    </div>
</div>

{% if form.errors %}
    <div class="text-body bg-red-light p-4 px-6">
        <div>
            {% for field, errors in form.errors.items %}
                <div>
                    {{ field }}:

                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
