{% load static %}

<div x-init="console.log('I\'m being initialized!')" class="flex flex-row items-center w-full h-12">

    <div class="inline-flex w-1/2 px-2">
        <img src="{% static 'images/dashboard/dashboard_location_pin_icon.png' %}" alt="location pin" class="h-6">
        <span class="px-2">Belfast</span>
    </div>

    <div id="dash-weather" class="inline-flex w-1/2 px-2">
        <span x-text="await getWeather"></span>
        <img src="" alt="icon pending" id="weather-icon" class="h-8 w-auto">
    </div>

</div>