{% if preview %}
&lt;offer of river starter status&gt;
{% else %}
<form method=POST action="{% url 'do_action' %}" class="m-0">
    {% csrf_token %}
    <input type=hidden name=action_id value={{ message.context_action.uuid }}>

    {% if request.user.id == message.context_action.receiver.id %}

        {{ message.context_action.creator.display_name }} has offered you River Starter status for
        {{ message.context_action.param_river.title }}.

        {% if message.context_action.result == None %}
            {% include "partials/vertical-spacer.html" with space="3" %}
            <div class="flex gap-3">
                <button type="submit" name=choice value=invoke class="button-secondary button-on-colour">
                    Accept
                </button>
                <button type="submit" name=choice value=reject class="button-secondary button-on-colour">
                    Reject
                </button>
            </div>
        {% endif %}


    {% elif request.user.id == message.context_action.creator.id %}
        You have offered {{ message.context_action.receiver.display_name }} River Starter status for
        {{ message.context_action.param_river.title }}.
        {% if message.context_action.result == None %}
            {% include "partials/vertical-spacer.html" with space="3" %}
            <button type="submit" name=choice value=retract class="button-secondary button-on-colour">
                Retract
            </button>
        {% endif %}
    {% endif %}
</form>
{% endif%}
