{% if message.context_action.result == 'invoked' %}
    {% if request.user.id == message.context_action.receiver.id %}
        You have
    {% else %}
        {{ message.context_action.receiver.display_name }} has
    {% endif %}
    accepted
{% elif message.context_action.result == 'rejected' %}

    {% if request.user.id == message.context_action.receiver.id %}
        You have
    {% else %}
        {{ message.context_action.creator.display_name }} has
    {% endif %}
    rejected
{% elif message.context_action.result == 'rescinded' %}
    {% if request.user.id == message.context_action.creator.id %}
        You have
    {% else %}
        {{ message.context_action.creator.display_name }} has
    {% endif %}
    rescinded
{% endif %}
the offer of River Starter status for {{ message.context_action.param_river.title }}.
