{% if user.is_anonymous %}
    {{ user_anonymous_message }}
{% elif user not in members %}
    {{ not_member_message }}
{% else %}
    <form hx-post="{{ message_post_url }}"
          hx-target="#messages-{{ unique_id }}"
          hx-swap="beforeend"
          enctype="multipart/form-data"
          hx-trigger="click[validateChat('{{ unique_id }}')] from:#chat-button-{{ unique_id }}, keydown[shiftKey&&keyCode==13&&validateChat('{{ unique_id }}')] from:body, keydown[ctrlKey&&keyCode==13&&validateChat('{{ unique_id }}')] from:body"
          id="chat-form-{{ unique_id }}"
          class="p-4.5 m-0 sticky bottom-0 backdrop-blur-sm bg-[linear-gradient(180deg,_#F2000000_1%,_#FFFFFF_25%)] sm:w-[360px]">
        {% csrf_token %}


        <div class="text-meta invisible max-w-full">
            <input type="file" name=file value="file" id="file-{{ unique_id }}"
                   x-init="setTimeout(()=>{checkFileContents($el.id)}, 1000);">
        </div>


        <div class="flex w-full max-w-full items-center">
            <div class="flex items-center gap-1">
                {% comment %}
                        Note that this only provides a hint to the browser as to what file-types to display to the user,
                        but this can be easily circumvented, so you should always validate the uploaded file on the server also.
                    {% endcomment %}

                <label class="cursor-pointer" for="file-{{ unique_id }}">
                    <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z"
                              fill="#9759FF"/>
                    </svg>
                </label>

                <div id="upload-ready-{{ unique_id }}" class="hidden">
                    <svg class="fill-red-important" width="18" height="14" viewBox="0 0 18 14"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.91818 10.9511L1.47955 6.75107L0 8.15107L5.91818 13.7511L18.6 1.75107L17.1205 0.351074L5.91818 10.9511Z"/>
                    </svg>
                </div>
            </div>

            {% include "partials/horizontal-spacer.html" with space="1.5" %}

            <div class="w-full"
                 x-init="setTimeout(()=> {createForm('messages-{{ unique_id }}', 'chat-form-{{ unique_id }}', 'upload-ready-{{ unique_id }}', 'file-{{ unique_id }}')}, 1500)">


                    <textarea data-expandable
                              class="input-text h-[50px] max-h-[150px] bg-yellow rounded-xl w-full max-w-full"
                              name=text
                              id="text-box-{{ unique_id }}"
                              x-init="setTimeout(()=>{checkTextContents($el.id)}, 1000);"

                    ></textarea>


                <button @click="clearFile('file-{{ unique_id }}'); clearTextarea('text-box-{{ unique_id }}');"
                        id="chat-button-{{ unique_id }}"
                        class="absolute bottom-[34px] right-8"

                >
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8L1.41 9.41L7 3.83V16H9V3.83L14.58 9.42L16 8L8 0L0 8Z" fill="#9759FF"/>
                    </svg>
                </button>
            </div>
        </div>

    </form>
{% endif %}

{% block scripts %}
    <script>


        function dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],

                bstr = atob(arr[arr.length - 1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);
            console.log(mime)
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, {type: mime});
        }


        function checkFileContents(fileElemId) {
            let fileElem = document.getElementById(fileElemId)
            if (fileElem.value === "") {
                {% comment %}nothing in input on load, as expected{% endcomment %}
                const localStorageImage = localStorage.getItem(fileElemId);
                const localStorageImageName = localStorage.getItem(`${fileElemId}+name`);

                if (localStorageImage) {


                    {% comment %}reconstructing the file from base64{% endcomment %}
                    var file = dataURLtoFile(localStorageImage, localStorageImageName);


                    {% comment %} loading the file into input value {% endcomment %}
                    let container = new DataTransfer();
                    container.items.add(file);
                    fileElem.files = container.files;

                    {% comment %}triggering on change event{% endcomment %}
                    var event = new Event('change');
                    console.log('sending event')
                    setTimeout(() => {
                        fileElem.dispatchEvent(event)
                        console.log('dispatched')

                    }, 250)


                } else {
                    console.log('no file retrieved')
                }
            }

        }

        function checkTextContents(textElemId) {
            console.log(textElemId)
            let textElem = document.getElementById(textElemId)
            console.log(textElem.value)

            if (textElem.value === "") {
                console.log('nothing to see here')
                if (localStorage.getItem(textElemId)) {
                    textElem.value = localStorage.getItem(textElemId)
                }
            }

            if (textElem.addEventListener) {
                textElem.addEventListener('input', function () {
                    localStorage.setItem(textElemId, textElem.value)
                }, false);
            }
        }


        function validateChat(chat) {
            let errorCount = 0;
            const textLength = document.getElementById('text-box-' + chat).value
            const fileValue = document.getElementById('file-' + chat).files

            if (textLength.length < 1 && fileValue.length < 1) {
                errorCount++
            }
            return errorCount === 0;

        }

        function createForm(messages, formId, upload, file) {
            let messagess = document.getElementById(messages)
            let uploadCheckbox = document.getElementById(upload)
            const observerMessages = new MutationObserver(function (mutations) {
                mutations.forEach(function () {
                    let chatForm = document.getElementById(formId)
                    chatForm.reset()
                    if (!uploadCheckbox.classList.contains('hidden')) {
                        uploadCheckbox.classList.add('hidden')
                    }

                })
            })
            let configMessages = {childList: true};
            observerMessages.observe(messagess, configMessages);

            const fileInput = document.getElementById(file)

            fileInput.onchange = function () {

                console.log('changed')
                let currentLength = fileInput.files.length
                if (currentLength > 0) {
                    //localStorage.setItem(file, this.files[0].text());
                    var fileReader = new FileReader()

                    fileReader.addEventListener(
                        "load",
                        () => {
                            // convert image file to base64 string


                            localStorage.setItem(file, fileReader.result);
                            localStorage.setItem(`${file}+name`, fileInput.files[0].name);
                        },
                        false
                    );

                    if (file) {
                        fileReader.readAsDataURL(fileInput.files[0]);
                    }

                    {% comment %}
                                        let filePromise = this.files[0].text()
                                        filePromise.then((value) => {
                                            //console.log(value)
                                            localStorage.setItem(file, value);
                                        })
                    {% endcomment %}


                    if (uploadCheckbox.classList.contains('hidden')) {
                        uploadCheckbox.classList.remove('hidden')
                    }
                } else {
                    if (!uploadCheckbox.classList.contains('hidden')) {

                        uploadCheckbox.classList.add('hidden')
                        if (localStorage.getItem(file)) {
                            clearFile(file)

                        }
                    }

                }
            }

        }

        function clearTextarea(textInputId) {
            console.log('removing')
            localStorage.removeItem(textInputId);

        }

        function clearFile(fileInputId) {
            localStorage.removeItem(fileInputId);
            localStorage.removeItem(`${fileInputId}+name`);

        }

    </script>
{% endblock %}
