{% load widget_tweaks %}


{% if more_back %}
    <a href="{{ request.path }}?interval={{ interval }}&from={{ back_from }}">Earlier Messages</a>
{% endif %}
<div class="bg-gray-light -mx-4.5 px-4.5 py-4">
    {% for message in messages %}
        {% if message.sender == system_user %}
            {% include 'messaging/system_message_snippet.html' %}
        {% else %}
            {% include 'messaging/user_message_snippet.html' %}
            {% include "partials/vertical-spacer.html" with space="6" %}
        {% endif %}

    {% endfor %}
</div>
{% if from != 0 %}
    <a href="{{ request.path }}?interval={{ interval }}&from={{ forward_from }}">Later Messages</a>
{% endif %}
{% if request.user.is_anonymous %}
    {{ user_anonymous_message }}
{% elif request.user not in members %}
    {{ not_member_message }}
{% else %}
    {% if direct %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% render_field form.text %}
            {% render_field form.image %}

            {% comment %}            <textarea name=message></textarea>
            <input type="file" id="image" name="image">{% endcomment %}

            <button type="submit">Send</button>

        </form>
    {% else %}
        <form method=POST>
            {% csrf_token %}
            <textarea name=text></textarea>
            <input type="file" id="image" name="image">

            <button type="submit">Send</button>

        </form>
    {% endif %}
{% endif %}

