{% if more_back %}
  <a href="{% url 'project_chat' slug %}?interval={{interval}}&from={{back_from}}">Earlier Messages</a>
{% endif %}
<div id=chat>
 {% for message in messages %}
  <div class=message><b>{% if message.sender != request.user %}<a href="{% url 'user_chat' message.sender.uuid %}">{{message.sender.display_name}}</a>{% else %}{{message.sender.display_name}}{% endif %}: </b>{{message.text}}</div>
 {% endfor %}
</div>
{% if from != 0 %}
 <a href="{% url 'project_chat' slug %}?interval={{interval}}&from={{forward_from}}">Later Messages</a>
{% endif %}
{% if request.user.is_anonymous %}
  {{user_anonymous_message}}
{% elif request.user not in members %}
  {{not_member_message}}
{% else %}
 <form method=POST>
  {% csrf_token %}
  <textarea name=message></textarea>
  <button>send</button>
 </form>
{% endif %}
