{% load static %}

{% include 'messaging/partials/pull_previous.html' %}

{% comment %}{% if page_obj.count > 0 %}{% endcomment %}
<div x-data="{ overlay: false }">
    {% for message in page_obj %}
        {% if message.sender == system_user %}
            {% include 'messaging/system_message_snippet.html' %}
        {% else %}
            {% include 'messaging/user_message_snippet.html' %}
        {% endif %}
    {% endfor %}
</div>


{% comment %}{% else %}

    {% include "partials/salmon-of-knowledge.html" with text="No messages yet, start the conversation!" %}

{% endif %}{% endcomment %}

<script>
    document.addEventListener('click', ()=>{console.log(event.target)})
</script>