{% load static %}

{% block content %}

    {% if direct %}

        <div class="bg-gray-light bg-gray-light sm:w-[360px] flex flex-col w-screen h-screen fixed overflow-y-auto">
            <div class="mx-4.5" x-init="">

                {% comment %}TODO: TEMPLATE tag needed to separate pull_previous{% endcomment %}
                <div id="messages">
                    {% include 'messaging/message_list.html' %}
                </div>
            </div>

            {% with user_pk_string=other_user.pk|stringformat:'s' %}
                {% with user_path=other_user.display_name|add:" "|add:user_pk_string|slugify %}
                    {% url 'user_chat' user_path as message_post_url %}
                    {% include 'messaging/chatbox_snippet.html' with direct=direct message_post_url=message_post_url %}
                {% endwith %}
            {% endwith %}
        </div>

    {% else %}

        <div id="messages" class="mx-4.5">
            {% include 'messaging/message_list.html' %}
        </div>
        {% url 'river_chat' slug stage topic as message_post_url %}
        {% include 'messaging/chatbox_snippet.html' with direct=direct message_post_url=message_post_url %}

    {% endif %}

{% endblock %}
