{% load static %}

<div class="pb-5 message">
    {% if message.sender == user %}
        <div class="flex justify-end">
            {% include "partials/horizontal-spacer.html" with space="7.5" %}
            <div class="flex flex-col w-full">
                <span class="text-body text-right">
                    {{ message.text }}
                </span>

                {% if message.image %}
                    <img src="{{ message.image.url }}" alt="none" class="pt-1.5">
                {% endif %}
                {% if message.file %}
                    <button>
                        <a href="{{ message.file.url }}" target="_blank">File SVG</a>
                    </button>

                {% endif %}

                {% include "partials/vertical-spacer.html" with space="1.5" %}
                <span class="font-kanit-400 text-[9px] leading-3 tracking-widest text-black-meta uppercase self-end">
                    {{ message.timestamp|date:"G:i" }} {{ message.timestamp|date:"d/m/y" }}
                </span>

            </div>
            {% include "partials/horizontal-spacer.html" with space="1.5" %}
            <img class="h-6 w-6" src="{{ message.sender.avatar.image_url }}" alt="useravatar">
        </div>
    {% else %}
        <div class="flex">


            {% if message.sender.display_name == 'salmon' %}

                <img src="{% static 'images/avatars/salmon_1.png' %}" class="w-6 h-6">
            {% else %}
                <img class="h-6 w-6" src="{{ message.sender.avatar.image_url }}" alt="useravatar">
            {% endif %}

            {% include "partials/horizontal-spacer.html" with space="1.5" %}
            <div class="flex flex-col w-full">
                <span class="text-body">
                    {% if message.hidden %}
                        <span class="text-black/30">
                            Message hidden {{ message.hidden_reason }}
                        </span>
                    {% else %}
                        {{ message.text }}
                    {% endif %}
                </span>

                {% if message.image %}
                    <img src="{{ message.image.url }}" alt="no image">
                {% endif %}

                {% include "partials/vertical-spacer.html" with space="1.5" %}

                <div class="font-kanit-400 text-[9px] leading-3 tracking-widest text-black-meta uppercase flex">
                    <p>{{ message.sender.display_name }}</p>
                    {% include "partials/horizontal-spacer.html" with space="1.5" %}
                    <p>{{ message.timestamp|date:"G:i" }}</p>
                    {% include "partials/horizontal-spacer.html" with space="1.5" %}
                    <p>{{ message.timestamp|date:"d/m/y" }}</p>
                    {% include "partials/horizontal-spacer.html" with space="1.5" %}

                    {% if user.is_authenticated and message.sender.display_name != 'salmon' %}
                        <div class="inline-block">

                            <button
                                    hx-post="{{ message_post_url }}"
                                    hx-vals='{"flag": "{{ message.uuid }}"}'
                                    hx-target="closest .message" hx-swap="outerHTML"
                                    @click="overlay = ! overlay;">

                                <svg width="8" height="10" viewBox="0 0 8 10"
                                     xmlns="http://www.w3.org/2000/svg"
                                        {% if message.uuid in my_flags %}
                                     class="fill-red-important"
                                        {% else %}
                                     class="fill-black/30"
                                        {% endif %}>
                                    <path d="M0 10V0H4.42857L4.78571 1.49254H7.92857V6.86567H4.92857L4.57143 5.37313H0.785714V10H0ZM5.57143 6.04478H7.21429V2.31343H4.21429L3.85714 0.820896H0.785714V4.55224H5.21429L5.57143 6.04478Z"/>
                                </svg>
                            </button>


                            <div :class="overlay || 'hidden'"
                            >
                                <section
                                        class="z-20 flex overflow-hidden justify-center items-center flex-col h-full w-full fixed left-0 top-0 backdrop-blur px-4.5">
                                    {#  White modal background  #}
                                    <div class="w-full bg-white m-2.5 sm:w-[360px]">
                                        <div class="bg-red-important/30 sm:w-[360px]">
                                            <div class="p-2.5">
                                                <div class="flex flex-col items-center py-9 px-4.5 text-center">
                                                    <p class="text-large pb-6 normal-case">
                                                        If three people flag this message then it will be hidden for
                                                        all users.
                                                    </p>
                                                    <div class="flex gap-4.5">
                                                        <button @click="overlay = ! overlay; $event.preventDefault();"
                                                                class="button button-on-colour">
                                                            OK
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>


                    {% endif %}
                    {% if user == starter %}
                        {% include "partials/horizontal-spacer.html" with space="1.5" %}
                        <button name=starter_hide value="{{ message.uuid }}">
                            {% if message.hidden %}
                                Show
                            {% else %}
                                Hide
                            {% endif %}
                        </button>
                    {% endif %}

                </div>

            </div>
            {% include "partials/horizontal-spacer.html" with space="7.5" %}
        </div>

    {% endif %}
</div>
