{% load static %}

<div>
    {% if message.sender == user %}
        <div class="flex justify-end">
            {% include "partials/horizontal-spacer.html" with space="7.5" %}
            <div class="flex flex-col w-full">
                <span class="text-body text-right">
                    {{ message.text }}
                </span>

                {% if message.image %}
                    <img src="{{ message.image.url }}" alt="none" class="pt-1.5">
                {% endif %}
                {% if message.file %}
                    <button>
                        <a href="{{ message.file.url }}" target="_blank">File SVG</a>
                    </button>

                {% endif %}

                {% include "partials/vertical-spacer.html" with space="1.5" %}
                <span class="font-kanit-400 text-[9px] leading-3 tracking-widest text-black-meta uppercase self-end">
                    {{ message.timestamp|date:"G:i" }} {{ message.timestamp|date:"d/m/y" }}
                </span>

            </div>
            {% include "partials/horizontal-spacer.html" with space="1.5" %}
            <img class="h-6 w-6" src={{ message.sender.avatar.image_url }} alt="useravatar">
        </div>
    {% else %}
        <div class="flex">
            <img class="h-6 w-6" src="{{ message.sender.avatar.image_url }}" alt="useravatar">
            {% include "partials/horizontal-spacer.html" with space="1.5" %}
            <div class="flex flex-col w-full">
                <span class="text-body">
                    {% if message.hidden %}
                        <span class="text-black/30">
                            Message hidden
                        </span>
                    {% else %}
                        {{ message.text }}
                    {% endif %}
                </span>

                {% if message.image %}
                    <img src="{{ message.image.url }}" alt="no image">
                {% endif %}

                {% include "partials/vertical-spacer.html" with space="1.5" %}

                <div class="font-kanit-400 text-[9px] leading-3 tracking-widest text-black-meta uppercase flex">
                    <p>{{ message.sender.display_name }}</p>
                    {% include "partials/horizontal-spacer.html" with space="1.5" %}
                    <p>{{ message.timestamp|date:"G:i" }}</p>
                    {% include "partials/horizontal-spacer.html" with space="1.5" %}
                    <p>{{ message.timestamp|date:"d/m/y" }}</p>
                    {% include "partials/horizontal-spacer.html" with space="1.5" %}
                    <form method=POST hx-post="{{chat_view_url}}" class="flex font-kanit-600 tracking-[0.03em] text-red-important">
                        {% csrf_token %}
                        <input type=hidden name="retrieve_messages"></input>
                        <button name=flag value="{{ message.uuid }}">
                            {% if message.uuid in my_flags %}
                                Unflag
                            {% else %}
                                Flag
                            {% endif %}
                        </button>
                        {% if user == starter %}
                            {% include "partials/horizontal-spacer.html" with space="1.5" %}
                            <button name=starter_hide value="{{ message.uuid }}">
                                {% if message.hidden %}
                                    Show
                                {% else %}
                                    Hide
                                {% endif %}
                            </button>
                        {% endif %}
                    </form>
                </div>

            </div>
            {% include "partials/horizontal-spacer.html" with space="7.5" %}
        </div>

    {% endif %}
</div>
