Django==3.2.10
wagtail==2.15.1
celery==5.1.2
redis==3.5.3
psycopg2==2.9.1
django-tailwind==3.1.1
django-allauth==0.45.0
pytest==6.2.5
django-debug-toolbar==3.2.2
pytest-django==4.4.0
pytest-celery==0.0.0
pyre-check==0.9.10
django-stubs==1.9.0
coverage==6.1.1
django-htmx==1.7.0
django-widget-tweaks==1.4.11
python-magic==0.4.25
