Django==4.0.6
wagtail==3.0.1 # latest, significantly later than the first that supports django 4
celery==5.2.7
redis==4.3.4
psycopg2==2.9.3
django-tailwind==3.2.0
pytest==7.1.2
django-debug-toolbar==3.4.0
pytest-django==4.5.2
pytest-celery==0.00
pyre-check==0.9.15
django-stubs==1.12.0
coverage==6.4.2
django-widget-tweaks==1.4.12
python-magic==0.4.25
# updated the above and it works
django-htmx==1.12.0
# haven't updated the below
django-allauth==0.45.0 # when updating this, need to check the socialaccount effects
