Django==4.2.3
wagtail==5.0.2
celery==5.3.1
redis==4.6.0
psycopg2==2.9.6
django-tailwind==3.6.0
pytest==7.4.0
django-debug-toolbar==4.1.0
pytest-django==4.5.2
pytest-celery==0.0.0
django-stubs==4.2.3
coverage==7.2.7
django-widget-tweaks==1.4.12
python-magic==0.4.27
django-htmx==1.16.0
django-allauth==0.54.0
uwsgi==2.0.20
