<button onclick="copyLink()"
        class="inline-block rounded-full px-4 py-4 max-h-12
   font-kanit-700 uppercase font-medium text-xxs tracking-widest leading-4
   transition ease-out duration-300
   text-purple
            bg-blue-second hover:bg-blue-done focus:bg-blue-done">
    {{ button }}

</button>


<script>
    function copyLink() {
        //console.log(window.location)
        //navigator.clipboard.writeText(window.location.href); - requires HTTPS or localhost
        const url = document.createElement('input');
        url.setAttribute('value', window.location);
        document.body.appendChild(url);
        url.select();
        document.execCommand('copy');
        document.body.removeChild(url);

    }
</script>