<button onclick="copyLink()"
        class="button button-on-white">
    {{ button }}
</button>

<script>
    function copyLink() {
        //console.log(window.location)
        //navigator.clipboard.writeText(window.location.href); - requires HTTPS or localhost
        const url = document.createElement('input');
        url.setAttribute('value', window.location);
        document.body.appendChild(url);
        url.select();
        document.execCommand('copy');
        document.body.removeChild(url);
    }
</script>