{# Add a <section> with the background colour, here is just the contents and spacing #}

<div class="flex flex-col items-center py-9 px-4.5 text-center">

    <p class="text-large text-22 pb-6">
        {{ main }}
    </p>

    <div class="">
        {% if url %}
            <a href="{{ url }}"
               class="button button-on-colour inline-block">
                {{ button }}
            </a>
        {% endif %}

        {% if url2 %}
            <a href="{{ url2 }}"
               class="button button-on-colour inline-block ml-5">
                {{ button2 }}
            </a>
        {% endif %}
    </div>

    {% if info %}
        <p class="text-meta text-black-large pt-6">
            {{ info }}
        </p>
    {% endif %}

</div>