{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Add resources" icon="arrow-right" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Send your feedback" icon="arrow-right" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Enquire about roll out in your area" icon="arrow-right" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Suggest research suggestions" icon="arrow-right" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Report a bug" icon="arrow-right" %}