{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Add resources" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Send your feedback" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Enquire about roll out in your area" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Suggest research suggestions" %}

<div class="h-6"></div>

{#{% url 'account_login' as the_url %}#}
{% include "partials/button.html" with url=the_url style="primary_white" button="Report a bug" %}