{% comment %}uses area_delaits simple tag from area/templatetages{% endcomment %}
{% load area_details %}
{% get_areas as areas_dict %}
<ul class="list-non text-black/30 -mt-2" aria-labelledby="dropdownLargeButton">

    {% if user.is_authenticated %}
        {% for key, value in areas_dict.items %}

            {% if value == user.post_code.area.name %}
                <li class="px-4 py-3 text-black/75">
                    <a href="{% url "spring" key %}" @click="toggle(), menu = !menu">
                        <span>Your spring: </span>{{ value }}
                    </a>
                </li>
            {% else %}
                <li class="px-4 py-3">
                    <a href="{% url "spring" key %}" @click="toggle(), menu = !menu">
                        {{ value }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

    {% else %}
        {% for key, value in areas_dict.items %}
            <li class="px-4 py-3">
                <a href="{% url "spring" key %}" @click="toggle(), menu = !menu">
                    {{ value }}
                </a>
            </li>
        {% endfor %}
    {% endif %}

</ul>