<div class="w-full -mb-8">
    <div class="flex items-stretch">

        <div class="relative h-32 w-32 ...">
            <div class="absolute top-4 h-32 w-32 ">
                <h1 class="text-5xl font-semibold text-morph pb-12 uppercase">SF</h1>
            </div>
        </div>

        <div class="h-32 w-32">
            <div class="absolute inset-y-0 right-0 top-4">
                <a class="mr-5 hover:text-gray-900 uppercase block" href="{% url 'account_signup' %}">Sign Up </a>
                <a class="mr-5 hover:text-gray-900 uppercase block" href="{% url 'account_login' %}">Log in </a>
                <a class="mr-5 hover:text-gray-900 uppercase block" href="">Guest </a>
            </div>
        </div>
    </div>
</div>