{% load static %}

{% comment %}

    A reusable overlay modal \o/

    You can close it from within itself using:

        <button @click="overlayClose()">close</button>

    There are two modes it can work in:

    - showing / hiding it - when `editing` variable is set

        e.g. the river settings page

        Calling `overlayClose()` will set `editing = false`

    - adding / removing the element - any other situation

        e.g. the task edit modal

        Calling `overlayClose()` will remove the DOM element

        In this mode you can also close it from an HTMX response
        using an out of band update.

        To use that, give the overlay an id using:

            {% block overlay_id %}my-id{% endblock %}

        And then in a later HTMX response you can include:

            <div id="task-edit" hx-swap-oob="delete"></div>

    Also consider using overlay-river-closable.html which let's you
    click on the overlay to close it.

{% endcomment %}

<section id="{% block overlay_id %}{% endblock %}"
         class="overlay-river z-20 flex justify-center items-center h-full w-full fixed left-0 top-0 backdrop-blur bg-blue-blur"
         x-data="{
            overlayClose() {
                if (typeof editing !== 'undefined') {
                    editing = false
                } else {
                    $el.remove()
                }
            }
         }"
         x-stop-body-scroll>

    {% block river_overlay_extra %}{% endblock %}

    <div class="bg-white mx-2.5 px-5 grow max-w-xl">
        {% include "partials/vertical-spacer.html" with space="7.5" %}
        {% block overlay_header %}
            <h2 class="text-large text-center w-full">
                {% block overlay_title %}{% endblock %}
            </h2>
        {% endblock %}

        {% include "partials/vertical-spacer.html" with space="6" %}


        {% block river_overlay_content %}
            # River overlay contents
        {% endblock %}
        {% include "partials/vertical-spacer.html" with space="7.5" %}

    </div>
</section>