{% load static %}

<section class="flex flex-col items-center">
    <div class="bg-blue-light rounded-full">
        <p class="text-large text-center p-2.5 px-10">
            {{ text }}
        </p>
    </div>
    {% if url %}
        {% include "partials/vertical-spacer.html" with space="3" %}
        <a href="{{ url }}" class="button-secondary button-on-white">
            {{ button }}
        </a>
    {% endif %}
    <div class="flex flex-col p-1 w-10">
        <div class="rounded-full bg-blue-light w-5 h-5 mt-1 self-end"></div>
        <div class="rounded-full bg-blue-light w-3.5 h-3.5 mt-1 self-start"></div>
        <div class="rounded-full bg-blue-light w-2.5 h-2.5 mt-2 self-center"></div>
    </div>
    <img src="{% static 'images/avatars/salmon_1.png' %}" alt="Salmon of Knowledge"
         class="fish self-start w-44 h-auto -my-12 ml-3">
</section>