{% load static %}

<section class="p-4 pt-2.5 flex flex-col items-end">
    <div class="bg-gray-light rounded-full">
        <p class="font-garamond-500 text-black-large text-center text-22 p-2.5">
            {{ text }}
        </p>
    </div>
    <div class="flex flex-col p-1 mr-4 w-12">
        <div class="rounded-full bg-gray-light w-3 h-3 self-start"></div>
        <div class="rounded-full bg-gray-light w-3.5 h-3.5 mt-1 self-end"></div>
        <div class="rounded-full bg-gray-light w-2 h-2 mt-1 self-center"></div>
    </div>
    <img src="{% static 'images/salmon-of-knowledge.png' %}" alt="Salmon of Knowledge" class="w-36 h-auto">
</section>