{% load static %}

{% if dashboard %}
    <title>
        Shared Futures Space - Dashboard
    </title>

    <h1 class="text-title text-purple px-[18px] py-2.5 max-w-screen-xl mx-auto">
        Welcome
        {{ title }}
        {% comment %}
        TODO: emojii
        {% endcomment %}
    </h1>
{% elif partial %}
    <h1 class="text-title text-purple px-[18px] py-2.5 max-w-screen-xl mx-auto">
        {{ title }}
    </h1>
{% elif landing %}
    <title>
        Shared Futures Space
    </title>
    <div class="flex items-center ml-4.5 max-w-screen-xl desktop:mx-auto">
        <img src="{% static 'images/partner_logos/shared-futures.png' %}" class="h-8">
        <h1 class="text-title text-purple px-3 py-2.5">
            {{ title }}
        </h1>
    </div>
{% else %}

    <title>
        {% if extra_title %}
            Shared Futures Space - {{ title }} - {{ extra_title }}
        {% elif chat_title %}
            Shared Futures Space - {{ title }} {{ chat_title }}
        {% else %}
            Shared Futures Space - {{ title }}
        {% endif %}
    </title>

    <h1 class="text-title text-purple px-[18px] py-2.5 w-full max-w-screen-xl mx-auto">
        {% if chat_title %}
            {{ title }} {{ chat_title }}
        {% else %}
            {{ title }}
        {% endif %}
    </h1>
{% endif %}