services:
  app:
    build:
      context: ..
      args:
        USERID: $USER_ID
        GROUPID: $GROUP_ID
    volumes:
      - .:/home/app/sfs
    command: >
        sh -c "python3 manage.py wait_for_db &&
             python3 manage.py makemigrations --no-input &&
             python3 manage.py migrate --no-input &&
             python3 manage.py collectstatic --noinput &&
             python3 manage.py runserver 0.0.0.0:9000"
    ports:
      - "9000:9000"
    env_file:
      - .env
    depends_on:
      - db_pg

  db_pg:
    #image: postgres:12.8-alpine
    image: postgis/postgis:12-3.4-alpine
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env

  # redis-overcommit-on-host
  redis-overcommit:
    build: https://github.com/bkuhl/redis-overcommit-on-host.git
    restart: 'no'
    privileged: true
    volumes:
      - /proc/sys/vm:/mnt/vm

  redis:
    image: redis:6.2.6-alpine
    depends_on:
      - redis-overcommit

  celery:
    restart: always
    build:
      context: ..
      args:
        USERID: $USER_ID
        GROUPID: $GROUP_ID
    command: bash -c "celery -A sfs worker -B -l info"
    env_file:
      - .env
    volumes:
      - .:/home/app/sfs
    depends_on:
      - db_pg
      - redis
      - app

volumes:
  dbdata:
