{% load static %}
{% comment %}TODO: Preferably retrieve up to date page with access to previous_page_number without being in message_list{% endcomment %}
<div>
    {% if page_obj.has_previous %}
        {% with user_pk_string=members.0.pk|stringformat:'s' %}
            {% with user_slug=members.0.display_name|add:" "|add:user_pk_string|slugify %}
                <button
                        hx-get="{% url 'user_chat' user_slug %}"
                        hx-vars="page:{{ page_obj.previous_page_number }}"
                        hx-params="*"
                        hx-trigger="click"
                        hx-target="#messages"
                        hx-swap="afterbegin"

                        {% comment %}
                    x-on:click="document.getElementById('loadPreviousMessages').classList.add('hidden')">
{% endcomment %}
                        x-on:click="setTimeout(function(e){
                            console.log($el.parentNode.remove());
                            $el.parentNode.remove()
                        }, 250);">

                    Previous messages
                </button>
            {% endwith %}
        {% endwith %}
    {% endif %}
</div>