{% comment %}In case the user calls it via resource_tag view we want to immediately filter and then mask the tag from the url & history{% endcomment %}
{% if tag %}
    <section x-init="buttonTagSearch('{{ tag }}');
                history.replaceState({}, '{{ tag }}', '/resources/');"
             hx-post="{% url 'resource_search' %}" hx-vals='{"search": "{{ tag }}"}'
             hx-target="#search-results"
             hx-trigger="load">
    </section>
{% endif %}
{% for resource in resources %}
    {% include "resources/partials/resources-card.html" with resource=resource %}
{% endfor %}