<section>
    {% for resource in resources %}
        <div class="px-4 mb-12 pb-4 rounded-lg shadow-lg">
            <div class="w-full">
                <p class="text-sm text-gray-600">{{ resource.title }}</p>
            </div>
            <div class="w-full mb-6">
                <p class="text-md text-indigo-500 font-bold">{{ resource.summary }}</p>
            </div>

            {% if resource.tags %}
                <div class="w-full flex-inline mb-6">
                    {% for tag in resource.tags %}
                        <p class="text-sm text-indigo-500">{{ tag }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</section>
