{% load static %}

{% url 'resource_item' resource.slug as the_url %}

<div class="mx-1.5 px-3 pt-3 bg-white bg-[linear-gradient(180deg,_#F0F0F0_0%,_#e5f1f800_15.62%)] rounded-xl rounded-xl">
    <div class="flex flex-start justify-between items-center">
        <h2 class="font-kanit-500 text-xl text-black-large leading-tight grow">
            {{ resource.title }}
        </h2>
        {% if close_button %}
            {% include 'partials/button.html' with icon='close' style="mini" dispatch="close" %}
        {% endif %}
        {% if view_button %}
            {% include 'partials/button.html' with url=the_url icon='arrow-right' style='mini' extra_classes="z-10" %}
        {% endif %}
    </div>

    <div class="h-4"></div>

    <div class="flex flex-wrap gap-x-3 gap-y-2">
        {% if user.is_authenticated %}
            {% if resource.saved %}
                <div id="heart-icon" class="inline-block">
                    <img src="{% static 'images/resources/heart_icon.png' %}" class="" alt="resource saved">
                </div>
            {% endif %}
        {% endif %}

        {% if resource.tags %}
            {% for tag in resource.tag_list %}
                <button class="tag bg-blue-second"
                        onclick="buttonTagSearch('{{ tag }}')"
                        hx-post="{% url 'resource_search' %}" hx-vals='{"search": "{{ tag }}"}'
                        hx-target="#search-results">
                    {{ tag }}
                </button>
            {% endfor %}
        {% endif %}
    </div>

    <div class="h-6"></div>

    <p class="mb-0.5 font-garamond-500 text-black-text text-base leading-5 whitespace-normal">
        {{ resource.summary }}
    </p>

    {% if learn_more_button %}
        <div class="h-4"></div>
        {% include "partials/button.html" with url=the_url style="primary_white" button="Learn more" %}
    {% endif %}

    <div class="h-9"></div>
</div>

