{% extends "partials/drawer.html" %}
{% load custom_filters %}

{% block drawer_content %}
    {% include "partials/vertical-spacer.html" with space="3" %}
    <div class="-mx-4.5 relative" data-flickity>
        {% for remix in remixes %}
            <div class="flex items-center justify-center overflow-hidden w-full">
                <div class="w-full h-full relative">
                    <img class="object-cover w-full h-full"
                         src="{{ remix.snapshot.url }}">
                    <div class="absolute bottom-2 right-2">
                        {% include "remix/partials/create_remix_button.html" with remix_id=remix.id %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "partials/vertical-spacer.html" with space="3" %}
{% endblock %}