{% extends "partials/drawer.html" %}
{% load custom_filters %}

{% block drawer_content %}
    {% include "partials/vertical-spacer.html" with space="3" %}
    <div class="flex flex-col gap-3">
        {% for remix in object.remixes.all %}
            <div>
                <a href="{% url 'remix' remix.uuid %}">
                    <img src="{{ remix.snapshot.url }}"
                         class="w-full">
                </a>
            </div>
        {% endfor %}
    </div>
    {% include "partials/vertical-spacer.html" with space="3" %}
{% endblock %}