{% load socialaccount %}

{% get_providers as socialaccount_providers %}

<section>

    <p class="uppercase text-center">Alternatively</p>

    <ul class="flex items-center justify-center">
        {% for provider in socialaccount_providers %}
            <li>
                <p class="inline-block mx-4 px-4 mt-2 bg-orange-300 rounded-full hover:bg-opacity-50">

                    <a title="{{ provider.name }}" class="text-morph uppercase tracking-wide font-semibold"
                       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{ provider.name }}</a>
                </p>
            </li>
        {% endfor %}
    </ul>
</section>
