{% load django_vite %}
{% load static %}

<section
        class="z-20 flex justify-center items-center flex-col h-full w-full fixed left-0 top-0 backdrop-blur bg-blue-blur">
    <div class="bg-white mx-2.5 px-5">
        {% include "partials/vertical-spacer.html" with space="7.5" %}
        <h2 class="text-large text-center w-full">
            Change your avatar
        </h2>
        {% include "partials/vertical-spacer.html" with space="6" %}
        {% include "partials/input-label.html" with for="post_code" label="New avatar" %}
        <div class="flex flex-wrap gap-5 -m-1">
            {% for avatar in avatars %}
                <button id="button-{{ avatar.pk }}"
                        onclick="event.preventDefault(); changeAvatar(this.id, {{ avatar.pk }});"
                        class="rounded-full p-0.5">
                    <img class="inline w-6 h-6" src="{{ avatar.image_url|default_if_none:'#' }}" alt="">
                </button>
            {% endfor %}
        </div>

        {% include "partials/vertical-spacer.html" with space="4" %}

        <form hx-put="{% url 'account_update' %}" hx-target="#avatar-holder"
              class="flex items-center justify-center mb-0">
            <button onclick="toggleAvatar(); enableBodyScroll();"
                    type="button"
                    class="button button-on-white">
                Back
            </button>
            {% include "partials/horizontal-spacer.html" with space="4.5" %}
            <button onclick="toggleAvatar(); enableBodyScroll();"
                    type="submit"
                    class="button button-on-white">
                Change avatar
            </button>
            <input id="avatar" type="text" name="avatar" value="1" class="hidden">
        </form>
    {% include "partials/vertical-spacer.html" with space="7.5" %}
    </div>
</section>

{% block scripts %}
    {% vite_asset 'templates/userauth/account/ts/avatar_selection.ts' %}
{% endblock %}