{% load static %}

<section class="z-20 flex justify-center items-center flex-col h-full absolute left-0 top-0 backdrop-blur bg-blue-blur">
    <div class="rounded-t-xl w-full px-5 mb-5">
        <div class="bg-yellow-pale rounded-t-xl shadow-xl">
            <h3 class="uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black-large px-3 py-5">
                Avatars
            </h3>
        </div>
        <ul class="bg-white max-h-72 overflow-y-auto shadow-xl">
            {% for avatar in avatars %}


                <button id="button-{{ avatar.pk }}"
                        onclick="event.preventDefault(); selectAvatar(this.id, {{ avatar.pk }})" class="m-2">
                    <img class="inline" src="{{ avatar.image_url|default_if_none:'#' }}" alt="avatar icon">
                </button>
            {% endfor %}
        </ul>
    </div>
    <div class="flex items-center justify-center mb-5 ">
        <button onclick="toggleAvatar()"
                type="submit"
                class="inline-block rounded-full px-4 py-3.5
                    font-kanit-700 uppercase font-medium text-xxs tracking-widest
                    text-purple bg-yellow-pale
                    hover:bg-yellow focus:bg-yellow
                    transition ease-out duration-300
                    disabled:bg-gray-light">
            Back
        </button>


        <form hx-put="{% url 'account_update' %}" hx-target="this">
            <div>
                <label>Avatar</label>
                <input type="text" name="avatar" value="15">
                        <button
                type="submit"
                class="inline-block rounded-full px-4 py-3.5
                    font-kanit-700 uppercase font-medium text-xxs tracking-widest
                    text-purple bg-yellow-pale
                    hover:bg-yellow focus:bg-yellow
                    transition ease-out duration-300
                    disabled:bg-gray-light">
            Confirm
        </button>
            </div>
        </form>
    </div>
</section>

{% block scripts %}
    <script>
        function toggleAvatar() {
            const avatars = document.getElementById("avatar-list")
            avatars.classList.toggle('hidden')

        }
    </script>
    {% comment %}
    <script src="{% static 'js/avatar_selection.js' %}"></script>
{% endcomment %}
{% endblock %}