{% load static %}

<section class="z-20 flex justify-center items-center flex-col h-full absolute left-0 top-0 backdrop-blur bg-blue-blur">
    <div class="rounded-t-xl w-full px-5 mb-5">
        <div class="bg-yellow-pale rounded-t-xl shadow-xl">
            <h3 class="uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black-large px-3 py-5">
                Change your displayed name
            </h3>
        </div>
        <p>You are currently known as {{ name }}. Would you like to change it?</p>
    </div>


    {% comment %}
        TODO: Adjust endpoint processing and container on view as well as ts file
        {% endcomment %}

    <form method="post" action="{% url 'account_update' %}">
        {% csrf_token %}

        <input class="input-text"
               id=display_name name=display_name type=text placeholder="Your new name" value=""
               pattern="[a-zA-Z][a-zA-Z\s]*">
        {% include "partials/input-note.html" with for="display_name" label="It will change web address of your profile" %}


        <button onclick="toggleNameChange()"
                type="submit"
                class="button button-on-white">
            Confirm
        </button>

    </form>
    <div class="flex items-center justify-center mb-5">
        <button onclick="toggleNameChange()"
                type="submit"
                class="button button-on-white">
            Back
        </button>
    </div>
</section>

{% block scripts %}
    <script>
        function toggleNameChange() {
            const nameContainer = document.getElementById("name-change")
            nameContainer.classList.toggle('hidden')

        }
    </script>
    {% comment %}
    <script src="{% static 'js/name_change.js' %}"></script>
{% endcomment %}

{% endblock %}