{% load static %}

<section class="z-20 flex justify-center items-center flex-col h-full w-full fixed left-0 top-0 backdrop-blur bg-blue-blur">
    <div class="bg-white mx-2.5 px-5">
        {% include "partials/vertical-spacer.html" with space="7.5" %}
        <h2 class="text-large w-full">
                Change your display name
            </h2>
        {% include "partials/vertical-spacer.html" with space="6" %}


        {% comment %}
        TODO: Adjust endpoint processing and container on view as well as ts file
        {% endcomment %}

        <form method="post" action="{% url 'account_update' %}" class="mb-0">
            {% csrf_token %}

            {% include "partials/input-label.html" with for="organisation" label="New display name" %}
            <input class="input-text"
                   id=display_name name=display_name type=text placeholder="{{ name }}" value=""
                   pattern="[a-zA-Z][a-zA-Z\s]*">
            {% include "partials/vertical-spacer.html" with space="1.5" %}
            {% include "partials/input-note.html" with for="display_name" label="Changing your name will change the URL of your profile" %}
            {% include "partials/vertical-spacer.html" with space="4.5" %}
            <div class="flex items-center justify-center">
                <button onclick="toggleNameChange()"
                        type="button"
                        class="button button-on-white">
                    Back
                </button>
                {% include "partials/horizontal-spacer.html" with space="4.5" %}
                <button onclick="toggleNameChange()"
                        type="submit"
                        class="button button-on-white">
                    Change name
                </button>
            </div>
            {% include "partials/vertical-spacer.html" with space="7.5" %}
        </form>
    </div>
</section>

{% block scripts %}
    <script>
        function toggleNameChange() {
            const nameContainer = document.getElementById("name-change")
            nameContainer.classList.toggle('hidden')

        }
    </script>
    {% comment %}
    <script src="{% static 'js/name_change.js' %}"></script>
{% endcomment %}

{% endblock %}