{% load static %}

<section class="z-20 flex justify-center items-center flex-col h-full absolute left-0 top-0 backdrop-blur bg-blue-blur">
    <div class="rounded-t-xl w-full px-5 mb-5">
        <div class="bg-yellow-pale rounded-t-xl shadow-xl">
            <h3 class="uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black-large px-3 py-5">
                Change your name
            </h3>
        </div>
<p>You are currently called {{ name }}</p>
    </div>
    <div class="flex items-center justify-center mb-5">
        <button onclick="toggleNameChange()"
                type="submit"
                class="inline-block rounded-full px-4 py-3.5
                    font-kanit-700 uppercase font-medium text-xxs tracking-widest
                    text-purple bg-yellow-pale
                    hover:bg-yellow focus:bg-yellow
                    transition ease-out duration-300
                    disabled:bg-gray-light">
            Back
        </button>

        {% comment %}
        TODO: Adjust endpoint processing and container on view as well as ts file
        {% endcomment %}

        <form hx-put="{% url 'account_update' %}" hx-target="#avatar-holder">

            <button onclick="toggleNameChange()"
                    type="submit"
                    class="inline-block rounded-full px-4 py-3.5
                    font-kanit-700 uppercase font-medium text-xxs tracking-widest
                    text-purple bg-yellow-pale
                    hover:bg-yellow focus:bg-yellow
                    transition ease-out duration-300
                    disabled:bg-gray-light">
                Confirm
            </button>
            <input id="avatar" type="text" name="avatar" value="1" class="hidden">

        </form>
    </div>
</section>

{% block scripts %}
    <script>
function toggleNameChange() {
    const nameContainer = document.getElementById("name-change")
    nameContainer.classList.toggle('hidden')

}
    </script>
{% comment %}
    <script src="{% static 'js/name_change.js' %}"></script>
{% endcomment %}

{% endblock %}