{% load django_vite %}
{% load static %}

<section class="z-20 flex justify-center items-center flex-col h-full fixed left-0 top-0 backdrop-blur bg-blue-blur sm:w-full">
    <div class="bg-white mx-2.5 sm:w-[336px]">
        <div class="p-6 mx-5 bg-white">
            <h2 class="font-garamond-500 text-black/55 text-xl text-22 text-center">
                Please select your organisation from the list.
            </h2>
        </div>

        <div class="rounded-t-xl w-full px-5 mb-5">
            <div class="bg-yellow rounded-t-xl shadow-xl">
                <h3 class="uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black/75 px-3 py-5 text-center">
                    Organisations in our system
                </h3>
            </div>
            <ul class="bg-yellow-light max-h-72 overflow-y-auto divide-y divide-solid divide-white">
                {% for organisation in organisations %}
                    {% if organisation.name != "" %}
                        <li class="border-b-yellow last:border-none mix-blend-multiply">
                            <button onclick="selectOrganisation(this.innerText)"
                                    class="group px-3 py-3.5 w-full text-left leading-normal
                                    font-garamond-500 text-black/75 text-sm
                                    focus:text-purple
                                    transition ease-out duration-300
                                    flex justify-between items-center">
                                <span>{{ organisation.name }}</span>
                                <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                     class="inline-block mr-31 opacity-0 group-focus:opacity-100 transition ease-out duration-150"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.6 10.9511L1.4 6.75107L0 8.15107L5.6 13.7511L17.6 1.75107L16.2 0.351074L5.6 10.9511Z"
                                          fill="#9759FF"/>
                                </svg>
                            </button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div>
            <div class="flex items-center mb-2 px-5">
                <button onclick="backFromOrganisations();"
                        type="submit"
                        class="button button-on-white">
                    Back
                </button>
                <div class="w-4"></div>
                <button onclick="submitOrganisation();"
                        type="submit"
                        class="button button-on-white">
                    Done
                </button>
            </div>

            <button onclick="openAddName()"
                    type="submit"
                    class="flex justify-center items-center rounded-full px-4 py-3 mx-1
                font-kanit-600 font-medium text-xxxs tracking-wide
                text-purple bg-white
                transition ease-out duration-300">
                <span class="pr-1.5">My organisation is not on the list</span>
                <svg class="inline-block" width="16" height="16" viewBox="0 0 16 16" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#9759FF"/>
                </svg>
            </button>
        </div>
    </div>
</section>

<script>


</script>


{% block scripts %}
    {%  vite_asset 'templates/userauth/account/ts/organisation_list_add.ts' %}
{% endblock %}
