{% load static %}
{% comment %}
This is for profile org edit only
TODO: Need to restyle this field so does not look like in adddata
{% endcomment %}

<form hx-put="{% url 'account_update' %}" hx-target="#organisation-holder">
    <input id="organisation-name" name="organisation_name" type=text
           value="None" class="hidden">

    {% comment %}taking on the value of the organisation url via organisation_name_enter modal field{% endcomment %}
    <input id="organisation-url" name=organisation_url type=text value=""
           class="hidden">


    <button id="organisation-button"
            type="submit"
            class="hidden">
        autosend
    </button>
</form>
{% comment %}pencil edit for avatar{% endcomment %}


<div id="organisation-list" class="hidden">
    {% include 'userauth/account/partials/organisation_list.html' %}
</div>

<div id="organisation-name-enter" class="hidden">
    {% include 'userauth/account/partials/organisation_name_enter.html' %}
</div>



{% block scripts %}
    <script src="{% static 'js/organisation_change.js' %}"></script>
{% endblock %}
