<section class="flex justify-center absolute left-0 top-0 border-8 shadow-xl">
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
        <h2 class="text-2xl">Is your organisation already in our system?</h2>
        <label for="organisation-name">Your organisation:</label>
        <input id="organisation-name" name="organisation-name" type=text value=" ">
        <button onclick="event.preventDefault(); addName()"
                class="inline-block px-4 py-3.5 bg-orange-300 transition ease-out duration-300 text-purple font-kanit-700 uppercase font-medium text-xxs tracking-widest rounded-full">
            Submit organisation
        </button>
    </div>
</section>