{% load static %}

<section class="z-20 flex w-full justify-center items-center flex-col h-full fixed left-0 top-0 backdrop-blur bg-blue-blur">

    <div class="bg-white w-fit px-5 mx-2.5">

        <div class="h-6"></div>

        <h2 class="font-garamond-500 text-black-large text-xl text-22 text-center mx-5">
            No worries, add your organisation now!
        </h2>

        <div class="h-4.5"></div>

        <div id="error-box-name" class="hidden mx-4 mb-4.5 font-garamond-500 bg-red-100">
            <p class="px-4 py-3">Please add the name of your organisation.</p>
        </div>

        {% include "partials/input-label.html" with for="organisation-name" label="Organisation name" %}
        <input class="input-text input-text-invalid"
               id="organisation-name" name="organisation-name" type=text value=""
               pattern="[a-zA-Z0-9\s]+" placeholder="">

        <div class="h-4.5"></div>

        {% include "partials/input-label.html" with for="organisation-url" label="Website" %}
        <input class="input-text"
               id="organisation-url" name="organisation-url" type=text pattern="https?://.+"
               value="" placeholder="">

        <div class="h-4.5"></div>

        <div class="flex items-center">
            <button onclick="event.preventDefault(); goBack()"
                    type="submit"
                    class="button button-on-white">
                Back
            </button>
            <div class="w-4"></div>
            <button onclick="event.preventDefault(); addName()"
                    type="submit"
                    class="button button-on-white">
                Add
            </button>
        </div>

        <div class="h-6"></div>

    </div>

</section>

{% block scripts %}
    <script src="{% static 'js/organisation_add_new.js' %}"></script>
{% endblock %}
