{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
    <div class="max-w-screen-xl mx-auto"
         x-data="{ editing: false }">
        {% block title %}{% include "partials/title.html" with title="Remix" %}{% endblock %}
        <div class="w-full rounded-xl overflow-hidden relative"
             x-cloak
             x-remix="{ models: {{ models|to_json }} }">
            <canvas class="remix__build rounded-xl"></canvas>
            <div class="remix__draw rounded-xl absolute w-full top-0 z-10"></div>
            <div class="remix__text rounded-xl absolute w-full top-0 z-10"></div>

            <div class="flex flex-col gap-3 m-3 absolute top-0 right-0"
                 x-show="mode === 'build'">
                <button class="button button-on-colour"
                        @click="editing = true">
                    ADD
                </button>
                <button class="button button-on-colour"
                        :class="transformAction === 'move' && 'button-important'"
                        @click="transformAction = 'move'">
                    MOVE
                </button>
                <button class="button button-on-colour"
                        :class="transformAction === 'rotate' && 'button-important'"
                        @click="transformAction = 'rotate'">
                    ROTATE
                </button>
                <button class="button button-on-colour"
                        :class="transformAction === 'remove' && 'button-important'"
                        @click="transformAction = 'remove'">
                    REMOVE
                </button>
            </div>

            <div class="flex justify-center gap-4 p-4">
                <button class="button button-on-white"
                        :class="mode === 'draw' && 'button-important'"
                        @click="mode = 'draw'">
                    draw
                </button>
                <button class="button button-on-white"
                        :class="mode === 'text' && 'button-important'"
                        @click="mode = 'text'">
                    text
                </button>
                <button class="button button-on-white"
                        :class="mode === 'build' && 'button-important'"
                        @click="mode = 'build'">
                    build
                </button>
            </div>

            <div x-show="mode === 'draw'">
                {# Draw options #}

                <div class="flex justify-center gap-4 p-4">
                    <template x-for="colour in draw.palette">
                        <div class="rounded-full w-8 h-8 cursor-pointer flex items-center justify-center"
                             :class="draw.colour === colour && 'shadow-inner'"
                             :style="`background-color: ${colour}`"
                             @click="draw.colour = colour">
                            <div class="bg-white w-3 h-3 rounded-full"
                                 x-show="draw.colour === colour"></div>
                        </div>
                    </template>
                </div>

                <div class="flex justify-center p-4">
                    <input type="range"
                           min="5"
                           max="30"
                           step="0.1"
                           class="w-64"
                           x-model="draw.strokeWidth">
                </div>
            </div>

            <div class="flex justify-center gap-4 p-4">
                <button class="button button-on-white"
                        @click="console.log(JSON.stringify(exportScene()))">
                    export
                </button>
                <button class="button button-on-white"
                        @click='importScene({"objects":[{"modelName":"nature_Quaking_Aspen_002","position":{"x":-4.5561543158379765,"y":0,"z":1.9737086157704482},"rotation":{"y":0},"scale":1},{"modelName":"nature_Tree_container_002","position":{"x":3.473391231780821,"y":0,"z":5.187309418893066},"rotation":{"y":-5.692650334075726},"scale":1},{"modelName":"playground_Swing_002","position":{"x":-2.8247389387068704,"y":-6.661338147750939e-16,"z":-2.9385968937780746},"rotation":{"y":0.9755011135857468},"scale":1.2890325998179457},{"modelName":"playground_Swing_003","position":{"x":0.1171486638672472,"y":0,"z":4.864061334951154},"rotation":{"y":-1.0556792873051224},"scale":1}]})'>
                    import
                </button>
                <button class="button button-on-white"
                        @click='createSnapshot()'>
                    snapshot
                </button>
            </div>

            {% include "remix/partials/add-dialog.html" with models=models %}
        </div>
    </div>
{% endblock %}
