{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% load custom_filters %}

{% load area_details %}
{% get_areas as areas %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <div class="max-w-screen-xl mx-auto h-screen flex flex-col">
        {% block title %}{% include "partials/title.html" with title="Remix" %}{% endblock %}
        <div class="relative w-full h-full overflow-hidden"
             x-data="{
                isOpen: false,
                selectedMarker: null,
                open (marker) {
                    this.isOpen = true
                    this.selectedMarker = marker
                },
                close () {
                    this.isOpen = false
                },
                cardHeight: 0
            }">

            <!-- mobile, slides from bottom -->
            <div class="p-2 absolute w-full z-20 transition-[bottom,height,opacity] duration-300 overflow-hidden desktop:hidden"
                 x-bind-height="cardHeight"
                 :class="isOpen ? 'opacity-100' : `opacity-100`"
                 :style="{ bottom: isOpen ? 0 : `${-(cardHeight || 200) - 20}px` }">
                <div x-html="selectedMarker ? selectedMarker.htmlMini : ''"
                     @close="isOpen = false"></div>
            </div>

            <!-- desktop, slides from left -->
            <div class="p-3 absolute h-full w-[360px] z-20 transition-[left,height,opacity] duration-300 overflow-y-auto hidden desktop:block"
                 :class="isOpen ? 'left-0 opacity-100' : `-left-[360px] opacity-100`">
                <div x-html="selectedMarker ? selectedMarker.html : ''"
                     @close="isOpen = false"></div>
            </div>


            <div x-map="{
                    markers: {{ markers|to_json }},
                    padding: isOpen ? ($screen.isDesktop ? { left: 360 } : { bottom: cardHeight }) : null,
                    autofit: true,
                 }"
                 @click-marker="open($event.detail)"
                 @click-map="close()"
                 class="absolute w-full h-full z-10">
            </div>
        </div>
    </div>
{% endblock content %}
