{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load django_vite %}
{% load custom_filters %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    {{ wizard.form.media }}
{% endblock extra_css %}

{% block content %}
    {% block title %}{% include "partials/title.html" with title='Share an idea' %}{% endblock %}
    <div class="max-w-screen-sm mx-auto">
        {% include "partials/vertical-spacer.html" with space="3" %}

        <form id="start-idea-wizard"
              method="post"
              enctype="multipart/form-data"
              class="m-0 px-4.5">

            {% csrf_token %}

            {{ wizard.management_form }}

            {% comment %}
                This is a general-purpose form rendering system using django widgets.
            {% endcomment %}

            {% for field in form %}
                {% include "partials/input-label.html" with for=field.id_for_label label=field.label %}
                {% if field.field.widget.input_type == 'file' %}
                    {% include "partials/input-file.html" with field=field file=form.files|lookup:field.html_name %}
                {% else %}
                    {% render_field field class="input-text" %}
                {% endif %}
                {% if field.field.widget.input_type != 'file' and not forloop.last %}
                    {% include "partials/vertical-spacer.html" with space="9" %}
                {% endif %}
            {% endfor %}

            {% if wizard.steps.current == "0" %}
                <h1>Placeholder for help information</h1>
                <p>Loreum ipsum, etc...</p>
            {% endif %}

            {% if wizard.form.errors %}
                <div class="text-body bg-red-light p-4 px-6 mb-6">
                    <div>
                        {% for field, errors in wizard.form.errors.items %}
                            <div>
                                {{ field }}:

                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            <div class="flex justify-center gap-2 mt-9">
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step"
                            type="submit"
                            value="{{ wizard.steps.prev }}"
                            class="button button-on-white">
                        Previous
                    </button>
                {% endif %}

                {% comment %}
                    Special htmx submission when you change a file input.

                    This works with StartIdeaImagesStep to dynamically add
                    image input fields as needed.

                    I'm not super proud of it, but it works...

                    Feels a bit convoluted to me.
                {% endcomment %}
                <div hx-post
                     hx-vals='{"wizard_save":true}'
                     hx-encoding="multipart/form-data"
                     hx-select="#start-idea-wizard"
                     hx-target="#start-idea-wizard"
                     hx-swap="outerHTML"
                     hx-trigger="change from:input[type='file']"></div>

                <a href="?discard"
                   class="button button-on-white">Discard</a>

                <button type="submit"
                        class="button button-important">
                    {% if wizard.steps.next %}
                        Next
                    {% else %}
                        Start idea
                    {% endif %}
                </button>
            </div>
        </form>
        {% include "partials/vertical-spacer.html" with space="6" %}

    </div>
{% endblock content %}
