@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'EB_Garamond_Regular';
    src: url('/fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Kanit_Regular';
    src: url('/fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: 600;
}