@tailwind base;
@tailwind components;

@layer components { /* layer so they're on included if used */
    /* --- TYPOGRAPHY ----------------------------------------------------------------------------------------------- */
    /* prompts descriptions ------------------------------ */
    .text-large { /* mobile 22/28 */
        @apply text-black/55 font-garamond-500 text-black-large text-[22px] leading-[28px]
    }
    .text-large-desktop { /* desktop 26/34 */
        @apply text-large text-[26px] leading-[34px]
    }
    /* menu titles ------------------------------ */
    .text-title { /* mobile 19/34 */
        @apply font-kanit-500 text-black/75 text-[19px] leading-6
    }
    .text-title-desktop { /* desktop 26/34 */
        @apply text-title text-[26px]
    }
    /* HEADER ------------------------------ */
    .text-header { /* mobile 10/Auto */
        @apply uppercase text-black-text font-kanit-600 text-[10px] tracking-widest leading-normal
    }
    .text-header-desktop { /* desktop 12/Auto */
        @apply text-header text-[12px]
    }
    /* body ------------------------------ */
    .text-body { /* mobile 16/20 */
        @apply font-garamond-500 text-black/75 text-[16px] leading-5 whitespace-normal tracking-[0.01em]
    }
    .text-body-desktop { /* desktop 18/24 */
        @apply text-body text-[18px] leading-6
    }
    /* button ------------------------------ */
    .text-button { /* mobile 10/Auto */
        @apply font-kanit-700 uppercase font-medium text-[10px] tracking-widest leading-4
    }
    .text-button-desktop { /* desktop 12/Auto */
        @apply text-button text-[12px]
    }
    /* meta tags names ------------------------------ */
    .text-meta { /* mobile 9/12 */
        @apply text-black/75 font-kanit-400 text-[9px] leading-[12px] tracking-[0.03em]
    }
    .text-meta-desktop { /* desktop 10/12 */
        @apply text-meta text-[10px]
    }
    /* meta ------------------------------ */
    .text-meta-label { /* mobile 9/Auto */
        @apply uppercase text-black/75 font-kanit-400 text-[9px] leading-[12px] tracking-widest
    }
    .text-meta-label-desktop { /* desktop 11/14 */
        @apply text-meta-label
    }

    /* --- TAGS ----------------------------------------------------------------------------------------------------- */
    .tag {
        @apply flex justify-center items-center px-1.5 h-4.5 lg:h-6 rounded-sm
        text-meta uppercase tracking-[0.1em] text-black/55
    }

    /* --- BUTTONS -------------------------------------------------------------------------------------------------- */
    .button {
        @apply inline-block rounded-full px-4 py-4 max-h-12
        transition ease-out duration-300
        text-button text-purple;
    }
    .button-secondary {
        @apply button px-3 py-1;
    }
    .button-on-white {
        @apply bg-blue-second hover:bg-resources-one focus:bg-blue-done
    }
    .button-on-white-reverse {
        @apply bg-blue-done hover:bg-resources-one focus:bg-blue-done
    }
    .button-on-colour {
        @apply bg-white hover:bg-resources-one focus:bg-blue-done
    }
    .button-important {
        @apply bg-yellow-pale hover:bg-yellow focus:bg-red-important
    }
    .button-danger {
        @apply bg-red-important hover:bg-purple focus:bg-purple
        text-white
    }

    /* --- FORMS ---------------------------------------------------------------------------------------------------- */
    .input-text {
        @apply block w-full px-3 py-3 font-garamond-500 text-black-text placeholder:text-black-meta
        bg-blue-second bg-clip-padding border border-solid border-transparent
        transition ease-in-out
        focus:text-black-text focus:border-purple focus:ring-0
        borken:border-red-important focus:borken:ring-red-important
    }
    .input-text-invalid {
        @apply invalid:border-red-important focus:invalid:ring-red-important
    }

    /* --- DRAWERS -------------------------------------------------------------------------------------------------- */
    .drawer-h-100vh {
        max-height: calc(100vh-48px);
    }
    .bg-drawer-blue {
        @apply  bg-[linear-gradient(180deg,_#E5F1F8_0%,_#E5F1F8_1%,_#e5f1f800_15.62%)]
    }
    .bg-drawer-gray {
        @apply  bg-[linear-gradient(180deg,_#E5F1F8_0%,_#E5F1F8_1%,_#e5f1f800_15.62%)]
    }

    /* --- TABS ----------------------------------------------------------------------------------------------------- */
    .tab-shadow {
        box-shadow: inset 4px 2px 3px rgba(100, 100, 100, 0.05);
        background: #F0F0F0;
    }
    .tab-shadow-selected {
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
        background: #FFFFFF;
    }
}

@tailwind utilities; /* after layer so they can still be overwritten by utilities */