celery==5.3.1
coverage==7.2.7
django_browser_reload==1.11.0
django-allauth==0.54.0
django-debug-toolbar==4.1.0
django-htmx==1.16.0
django-stubs==4.2.3
django-vite==2.1.3
django-widget-tweaks==1.4.12
django-formtools==2.5.1
django-extensions==3.2.3
ipython==8.18.1
Django==4.2.3
psycopg2==2.9.6
pytest-celery==0.0.0
pytest-django==4.5.2
pytest==7.4.0
pytest-xdist==3.3.1
python-magic==0.4.27
redis==4.6.0
uwsgi==2.0.22
wagtail==5.0.2
wagtailgeowidget==8.1.1
