[Unit]
Description=uWSGI service
After=network.target

[Service]
User={{ production_user }}
WorkingDirectory={{ project_dir }}
Environment=VIRTUAL_ENV={{ project_dir }}/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart={{ project_dir }}/venv/bin/uwsgi --ini prod/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=simple

[Install]
WantedBy=multi-user.target