{% with li_class="rounded-[50px_50px_0px_0px] text-center grow h-[48px] flex items-center justify-center" %}
    <div x-data="{ openTab: 'one' }" class="-mx-4.5">
        <ul class="flex place-content-between">
            <li @click="openTab = 'one'" class="{{ li_class }} bg-resources-one">
                {% include "landing/tabbed-resources/title.html" with title="resources" %}
            </li>
            <li @click="openTab = 'two'" class="{{ li_class }} bg-resources-two">
                {% include "landing/tabbed-resources/title.html" with title="tools" %}
            </li>

            <li @click="openTab = 'three'" class="{{ li_class }} bg-resources-three">
                {% include "landing/tabbed-resources/title.html" with title="co creation" %}
            </li>
        </ul>
        <div :class="`bg-resources-${openTab}`" class="w-full py-9 px-4.5">
            <div x-show="openTab === 'one'">
                {% include "landing/main-heading.html" with title="We offer smart resources throughout the project." %}
                {% include "partials/horizontal-spacer.html" with space="7" %}
                <p class="text-center mx-auto w-max px-8 py-3 rounded-[50px] bg-[rgba(255,255,255,0.5)]">How can I help you?</p>
                <img src="static/images/salmon-of-knowledge.png" alt="Salmon of Knowledge" class="w-36 h-auto mx-auto fish">
                {% include "partials/horizontal-spacer.html" with space="4" %}
                <div class="flex flex-col gap-6 items-start">
                    {% include "partials/button.html" with url="the_url" style="primary_colour" button="funding 💰" %}
                    {% include "partials/button.html" with url="the_url" style="primary_colour" button="project management 🚧" %}
                    {% include "partials/button.html" with url="the_url" style="primary_colour" button="Community business 💰" %}
                </div>
            </div>
            <div x-show="openTab === 'two'">Tab #2</div>
            <div x-show="openTab === 'three'">Tab #3</div>
        </div>
    </div>
{% endwith %}
