[uwsgi]
master = True
module = sfs.wsgi:application
virtualenv = venv
strict = True
http-socket = :{{ http_port }}
need-app = True
vacuum = True
max-requests = 5000
processes = 5
harakiri = 20
enable-threads = True
die-on-term = true