@font-face {
    font-family: 'EB_Garamond_Regular';
    src: url('../fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Kanit_SemiBold';
    src: url('../fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Kanit_Bold';
    src: url('../fonts/Kanit-Bold.ttf') format('truetype');
    font-weight: 700;
}