@font-face {
    font-family: "EB_Garamond_Regular";
    src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "EB_Garamond_Medium";
    src: url("../fonts/EBGaramond-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Kanit_Regular";
    src: url("../fonts/Kanit-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Kanit_Medium";
    src: url("../fonts/Kanit-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Kanit_SemiBold";
    src: url("../fonts/Kanit-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Kanit_Bold";
    src: url("../fonts/Kanit-Bold.ttf") format("truetype");
    font-weight: 700;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-250px);
    }
    100% {
        transform: translateX(0);
    }
}

.fish {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    animation-fill-mode: forwards;
}

body {
    /* When we stop the body scrolling it causes the content
       to jump to the side as the scrollbars appear/disappear
       in some browsers (e.g. chrome)

       This solution is just to force always having the scrollbar

       scrollbar-gutter might fix it, but so far could not make it do
       it, and besides it's not properly supported in safari yet...
     */
    overflow-y: scroll;
}

/* flickity carousel dots */
button.flickity-page-dot {
    width: 8px;
    height: 8px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.30);
    border: none;
    margin: 0 2px;
}

/* fill-in selected dot */
button.flickity-page-dot.is-selected {
    background: #9759FF; /* purple */
}

/* remove the focus style */
button.flickity-page-dot:focus {
    outline: none;
    box-shadow: none;
}

button.flickity-prev-next-button {
    top: unset;
    right: unset;
    @apply bg-white bottom-0.5 absolute
}

button.flickity-prev-next-button:focus {
    outline: none;
    box-shadow: none;
}

button.flickity-prev-next-button svg {
    display: none;
}

button.flickity-prev-next-button.previous {
    @apply left-2
}

button.flickity-prev-next-button.next {
    @apply left-[3.6rem]
}

button.flickity-prev-next-button:before {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.flickity-prev-next-button.next:before {
    content: url(../icons/arrow-right.svg)
}

button.flickity-prev-next-button.previous:before {
    content: url(../icons/arrow-left.svg)
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* See https://alpinejs.dev/directives/cloak */
[x-cloak] { display: none !important; }