@tailwind base;
@tailwind components;

@layer components { /* layer so they're on included if used */
    /* --- TYPOGRAPHY ----------------------------------------------------------------------------------------------- */
    /* prompts descriptions ------------------------------ */
    .text-large { /* mobile 22/28 desktop 26/34  */
        @apply text-black/55 font-garamond-500 text-black/55 text-[22px] leading-[28px]
        lg:text-[26px] lg:leading-[34px]
    }
    /* menu titles ------------------------------ */
    .text-title { /* mobile 19/34 desktop 26/34 */
        @apply font-kanit-500 text-black/75 text-[19px] leading-6
        lg:text-[26px] lg:leading-[34px] relative
    }
    /* HEADER ------------------------------ */
    .text-header { /* mobile 10/Auto desktop 12/Auto */
        @apply uppercase text-black/75 font-kanit-600 text-[10px] tracking-widest leading-normal
        lg:text-[12px]
    }
    /* body ------------------------------ */
    .text-body { /* mobile 16/20 desktop 18/24 */
        @apply font-garamond-500 text-black/75 text-[16px] leading-5 whitespace-normal tracking-[0.01em]
        lg:text-[18px] lg:leading-6
    }
    /* button ------------------------------ */
    .text-button { /* mobile 10/Auto desktop 12/Auto */
        @apply font-kanit-700 uppercase font-medium text-[10px] tracking-widest leading-4
        lg:text-[12px]
    }
    /* meta tags names ------------------------------ */
    .text-meta { /* mobile 9/12 mobile 9/12 */
        @apply text-black/75 font-kanit-400 text-[9px] leading-[12px]  tracking-[0.03em]
        lg:text-[11px] lg:leading-[18px]
    }
    .text-meta-uppercase { /* mobile 9/12 */
        @apply text-meta uppercase tracking-[0.1em]
    }
    /* meta ------------------------------ */
    .text-meta-label { /* mobile 9/Auto */
        @apply uppercase text-black/75 font-kanit-400 text-[9px] text-[10px] leading-[12px] tracking-[0.1em]
    }
    .text-meta-label-desktop { /* desktop 11/14 */
        @apply text-meta-label
    }

    /* --- TAGS ----------------------------------------------------------------------------------------------------- */
    .tag {
        @apply flex justify-center items-center px-1.5 h-[18px] lg:h-[24px] rounded-sm
        text-meta-uppercase text-[9px] lg:text-[10px] text-black/55
    }

    /* --- BUTTONS -------------------------------------------------------------------------------------------------- */
    .button {
        @apply inline-block rounded-full px-4 py-4 max-h-12
        transition ease-out duration-300
        text-button text-purple
    }
    .button-secondary {
        @apply button px-3 py-1
    }
    .button-on-white {
        @apply bg-blue-light hover:shadow-button focus:bg-blue
    }
    .button-on-white-reverse {
        @apply bg-green hover:shadow-button focus:bg-green
    }
    .button-on-colour {
        @apply bg-white hover:shadow-button focus:bg-blue-light
    }
    .button-important {
        @apply bg-yellow-light hover:shadow-button focus:bg-yellow
    }
    .button-mini {
        @apply py-0 px-2
    }
    .button-danger {
        @apply bg-red hover:shadow-button focus:bg-red-focus text-white
    }

    /* Maplibre's CSS file makes the background transparent using this selector:

         .maplibregl-ctrl button:not(:disabled):hover

       So we need to set the background with a higher precedence.
    */
    .maplibregl-ctrl .button-on-colour {
        @apply bg-white !important
    }

    /* --- FORMS ---------------------------------------------------------------------------------------------------- */
    .input-text {
        @apply block w-full px-3 py-3 font-garamond-500 text-black/75 placeholder:text-black/30
        bg-blue-light bg-clip-padding border border-solid border-transparent
        transition ease-in-out
        focus:text-black/75 focus:border-purple focus:ring-0
        borken:border-red focus:borken:ring-red focus-visible:outline-none
    }

    /* When browser has autocomplete available it changes the colour, this switches it back to our intended colour */
    input.input-text:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 40px 40px rgba(229, 241, 248, 1);
    }

    .input-text-invalid {
        @apply invalid:border-red focus:invalid:ring-red
    }

    /* --- DRAWERS -------------------------------------------------------------------------------------------------- */
    .drawer-h-100vh {
        max-height: calc(100vh-48px);
    }
    .bg-drawer-blue {
        @apply  bg-[linear-gradient(180deg,_#E5F1F8_0%,_#E5F1F8_1%,_#e5f1f800_15.62%)]
    }
    .bg-drawer-gray {
        @apply  bg-[linear-gradient(180deg,_#E5F1F8_0%,_#E5F1F8_1%,_#e5f1f800_15.62%)]
    }

    /* --- TABS ----------------------------------------------------------------------------------------------------- */
    .tab-shadow {
        box-shadow: inset 4px 2px 3px rgba(100, 100, 100, 0.05);
        background: #F0F0F0;
    }
    .tab-shadow-selected {
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
        background: #FFFFFF;
    }
}

@tailwind utilities; /* after layer so they can still be overwritten by utilities */