{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    {% block title %}{% include "partials/title.html" with title="Resources" %}{% endblock %}

    {#Search, number of results, and filter#}
    <section class="bg-gradient-to-b from-gray-light via-white">
        <div class="h-6"></div>
        <div class="px-4.5 h-11 relative">
            {% include 'resources/partials/search.html' %}
        </div>
        <div class="h-4"></div>
        <div class="px-4.5">
            {#Not sure how the numbers will arrive, but separated number from the results sentence...but then I guess there's no 's' if it's only 1...#}
            {% include 'partials/text-style/meta-lowercase.html' with text="125" %}
            {% include 'partials/text-style/meta-lowercase.html' with text=" results available" %}
        </div>
        <div class="h-3"></div>
    </section>

    {#Results#}
    <section>
        <ul id="search-results" class="hidden">
            {% include "resources/partials/search_results.html" with resource=result %}
        </ul>
        <ul id="initial-list" class="">
            {% include "resources/partials/initial_list.html" with resource=resource %}
        </ul>
    </section>

    {% block scripts %}
        <script src="{% static 'js/resources.js' %}"></script>
    {% endblock scripts %}

{% endblock content %}


