{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}


    <div class="block items-center justify-center h-screen">
        Title: {{ resource.title }}
        <br/><br/>

        Published on: {{ resource.published_on }}
        <br/><br/>

        Summary: {{ resource.summary }}


        {% if resource.link %}
            <br/><br/>
            Link:    <a href="{{ resource.link }}" target="_blank">Find out more</a>
        {% endif %}


        {% if resource.case_study_image %}
            <br/><br/>
            Image:
            {% image resource.case_study_image max-750x400 %}

            {{ resource.case_study_image }}
        {% endif %}



        {% if resource.body %}
            <br/><br/>
            Body:
            {{ resource.body }}
        {% endif %}


        {% if resource.tags %}
            <br/><br/>
            <div class="">
                Tags:
                {% for tag in resource.tags %}
                    <p class="text-sm">{{ tag }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <br/>
    </div>
{% endblock %}