{% extends "base.html" %}
{% load django_vite %}
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    {% block title %}{% include "partials/title.html" with title="Resources" %}{% endblock %}

    {# Search, number of results, and filter #}
    <section class="bg-gradient-to-b from-grey-10 via-white max-w-screen-xl mx-auto">
        {% include "partials/vertical-spacer.html" with space="6" %}
        <div class="px-4.5">
            {% include 'resources/partials/search.html' %}
        </div>
    </section>

    {# Results #}
    <section>
        <div id="search-results" class="px-1.5 sm:grid sm:grid-cols-2 lg:gap-3 max-w-screen-xl mx-auto"></div>
    </section>

    {% block scripts %}
        {% vite_asset 'templates/resources/ts/resources.ts' %}

    {% endblock scripts %}

{% endblock content %}


