{% block content %}

    {% with li_class="rounded-[15px_15px_0px_0px] desktop:rounded-[50px_50px_0px_0px] text-center py-2 desktop:py-0 desktop:h-[48px] flex flex-grow items-center justify-center tab-shadow cursor-pointer" %}
        <div x-data="{ openTab: 'one' }">
            <ul class="flex justify-between">
                <li @click="openTab = 'one'; setCurrentlyActiveTabAct($data);" class="{{ li_class }}"
                    :class="openTab == 'one' ? '' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="General" %}
                </li>
                <li @click="openTab = 'two'; setCurrentlyActiveTabAct($data);" class="{{ li_class }}"
                    :class="openTab == 'two' ? '' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Money" %}
                </li>
                <li @click="openTab = 'three'; setCurrentlyActiveTabAct($data);" class="{{ li_class }}"
                    :class="openTab == 'three' ? '' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Place" %}
                </li>
                <li @click="openTab = 'four'; setCurrentlyActiveTabAct($data);" class="{{ li_class }}"
                    :class="openTab == 'four' ? '' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Time" %}
                </li>
            </ul>

            <div class="overflow-auto bg-white">

                {# GENERAL TAB #}

                <div x-show="openTab === 'one'">
                    <div id="event-act-general"
                            @chatstatusupdate="setActChatOpen('one', $event.detail)"
                    >
                        {% if is_member %}
                            <div hx-get="{% url 'river_task_list' river.slug 'act' 'general' %}"
                                 hx-trigger="load"
                                 hx-target="this"
                                 hx-swap="outerHTML">
                            </div>
                        {% endif %}

                        <div id="act-chat-general" hx-get="{% url 'river_chat' river.slug 'act' 'general' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>


                {# MONEY TAB #}

                <div x-show="openTab === 'two'">
                    <div id="event-act-money"
                            @chatstatusupdate="setActChatOpen('two', $event.detail)"
                    >
                        {% if is_member %}
                            <div hx-get="{% url 'river_task_list' river.slug 'act' 'money' %}"
                                 hx-trigger="load"
                                 hx-target="this"
                                 hx-swap="outerHTML">
                            </div>
                        {% endif %}

                        <div id="act-chat-money" hx-get="{% url 'river_chat' river.slug 'act' 'money' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>


                {# PLACE TAB #}

                <div x-show="openTab === 'three'">
                    <div id="event-act-place"
                            @chatstatusupdate="setActChatOpen('three', $event.detail)"
                    >
                        {% if is_member %}
                            <div hx-get="{% url 'river_task_list' river.slug 'act' 'place' %}"
                                 hx-trigger="load"
                                 hx-target="this"
                                 hx-swap="outerHTML">
                            </div>
                        {% endif %}

                        <div id="act-chat-place" hx-get="{% url 'river_chat' river.slug 'act' 'place' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>


                {# TIME TAB #}
                <div x-show="openTab === 'four'">
                    <div id="event-act-time"
                            @chatstatusupdate="setActChatOpen('four', $event.detail)"
                    >
                        {% if is_member %}
                            <div hx-get="{% url 'river_task_list' river.slug 'act' 'time' %}"
                                 hx-trigger="load"
                                 hx-target="this"
                                 hx-swap="outerHTML">
                            </div>
                        {% endif %}

                        <div id="act-chat-time" hx-get="{% url 'river_chat' river.slug 'act' 'time' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    {% endwith %}

    <script>

    /* Everything that's called from Alpine needs to have unique name */

        {% comment %}starting value, tab one opens automatically{% endcomment %}
        let currentlyActiveTabAct = 'one'

        let currentlyActiveChatsAct = {
            'one': false,
            'two': false,
            'three': false,
            'four': false,
        }

        // eventData comes from river_chat.html, received with @chatstatusupdate
        function setActChatOpen(chatId, eventData){


            let chatOpen = eventData.chatOpen

            if (chatId === 'one') {
                //console.log('general')
                currentlyActiveChatsAct['one'] = chatOpen
            } else if (chatId === 'two') {
                //console.log('money')
                currentlyActiveChatsAct['two'] = chatOpen
            } else if (chatId === 'three') {
                //console.log('place')
                currentlyActiveChatsAct['three'] = chatOpen
            } else if (chatId === 'four') {
                //console.log('time')
                currentlyActiveChatsAct['four'] = chatOpen
            }

            //console.log(`just set chat status to ${eventData.chatOpen}`)
        }

        function setCurrentlyActiveTabAct({openTab}) {
            //console.log('called tab change')
            //console.log(openTab)
            currentlyActiveTabAct = openTab
        }

    </script>

{% endblock %}
