{% load custom_filters %}
{% if request.user in starters|attrmap:'user' %}
    <form method=post>
        {% csrf_token %}
        <p>
            <label for=name>River Name:</label>
            <input type=text name=title id=name value="{{object.name}}"></input>
        </p>
        <p>
            <label for=description>River Description:</label>
            <textarea name=description id=description>{{object.description}}</textarea>
        </p>
        <button>Update River</button>
        {% if starters|length > 1 %}
            <button name=abdicate value=abdicate>Rescind Starter status</button>
        {% else %}
            <p>As you are the only starter of this river, you cannot rescind your status<p>
        {% endif %}
    </form>
{% else %}
    you are not authorised to edit this river
{% endif %}
