{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}
{% block content %}

<div id="envision-chat" hx-get="{% url 'river_chat' river.slug 'envision' 'general' %}"
     hx-trigger="load "
     hx-swap="innerHTML"
>

</div>

{% comment %}
<p><a href="{% url 'river_chat' river.slug 'envision' 'general' %}">Envision Chat</a></p>
{% endcomment %}

{% if river.current_stage == river.Stage.ENVISION %}
    <form method=POST>{% csrf_token %}
        <button name=action value=start_plan>[TESTING] Start Plan Stage</button>
    </form>
{% endif %}

{% if river.current_stage == river.Stage.ENVISION and request.user.id in owners %}
    <a href="{% url 'create_envision_poll' river.slug %}">Create Poll For Vision</a>
{% endif %}
{% endblock content %}
