{% extends "partials/drawer-river.html" %}

{% block drawer_content %}
    <div class="-mx-4.5">
        <div id="envision-view" hx-get="{% url 'view_envision' object.slug %}"
             hx-trigger="load"
             hx-target="#envision-view"
        ></div>
    </div>

    <script>
        if (typeof envisionDrawer !== 'undefined') {

            let envisionDrawer = document.getElementById("envision")

            {% comment %}https://htmx.org/events/{% endcomment %}
            document.addEventListener('htmx:afterSwap', function () {
                if (envisionDrawer != null) {
                    let computedStyle = getComputedStyle(envisionDrawer);
                    //console.log(computedStyle.getPropertyValue('height'));
                    if (computedStyle.getPropertyValue('height') !== "0px") {
                        //console.log('open')
                        setTimeout(() => {
                            envisionDrawer.style.maxHeight = envisionDrawer.scrollHeight + 'px';
                        }, 500)
                    }

                }
            }, false);
        }


    </script>
{% endblock %}