{% block content %}
    {# Wasn't sure how to send the different chats to the different tabs, so all in here for now {% include "partials/messages_tabs.html" %} #}

    {% with li_class="rounded-[50px_50px_0px_0px] text-center px-6 h-[48px] flex flex-grow items-center justify-center tab-shadow" %}
        <div x-data="{ openTab: 'one' }">
            <ul class="flex justify-between">
                <li @click="openTab = 'one'" class="{{ li_class }}"
                    :class="openTab == 'one' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="General" %}
                </li>
                <li @click="openTab = 'two'" class="{{ li_class }}"
                    :class="openTab == 'two' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Money" %}
                </li>
                <li @click="openTab = 'three'" class="{{ li_class }}"
                    :class="openTab == 'three' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Place" %}
                </li>
                <li @click="openTab = 'four'" class="{{ li_class }}"
                    :class="openTab == 'four' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Time" %}
                </li>
            </ul>
            <div class="w-full-mx-4.5 bg-white">
                {# GENERAL TAB #}
                <div x-show="openTab === 'one'">
                    <div id="plan-chat-general" hx-get="{% url 'river_chat' river.slug 'plan' 'general' %}"
                         hx-trigger="load"
                         hx-target="this">
                    </div>
                </div>
                {# MONEY TAB #}
                <div x-show="openTab === 'two'">
                    <div id="plan-chat-money" hx-get="{% url 'river_chat' river.slug 'plan' 'money' %}"
                         hx-trigger="load"
                         hx-target="this">
                    </div>
                </div>
                {# PLACE TAB #}
                <div x-show="openTab === 'three'">
                    <div id="plan-chat-place" hx-get="{% url 'river_chat' river.slug 'plan' 'place' %}"
                         hx-trigger="load"
                         hx-target="this">
                    </div>
                </div>
                {# TIME TAB #}
                <div x-show="openTab === 'four'">
                    <div id="plan-chat-time" hx-get="{% url 'river_chat' river.slug 'plan' 'time' %}"
                         hx-trigger="load"
                         hx-target="this">
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
