{% block content %}

    {% with li_class="rounded-[50px_50px_0px_0px] text-center px-6 h-[48px] flex flex-grow items-center justify-center tab-shadow" %}
        <div x-data="{ openTab: 'one' }">
            <ul class="flex justify-between">
                <li @click="openTab = 'one'; setCurrentlyActiveTab($data);" class="{{ li_class }}"
                    :class="openTab == 'one' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="General" %}
                </li>
                <li @click="openTab = 'two'; setCurrentlyActiveTab($data);" class="{{ li_class }}"
                    :class="openTab == 'two' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Money" %}
                </li>
                <li @click="openTab = 'three'; setCurrentlyActiveTab($data);" class="{{ li_class }}"
                    :class="openTab == 'three' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Place" %}
                </li>
                <li @click="openTab = 'four'; setCurrentlyActiveTab($data);" class="{{ li_class }}"
                    :class="openTab == 'four' ? 'tab-shadow-selected' : 'tab-shadow'">
                    {% include "landing/tabbed-resources/title.html" with title="Time" %}
                </li>
            </ul>

            <div class="w-full-mx-4.5 bg-white">

                {# GENERAL TAB #}

                <div x-show="openTab === 'one'">
                    <div id="event-plan-general"
                         @chatstatusupdate="setPlanChatOpen('one', $event.detail)"
                    >
                        {% include "task/partials/task_list.html" %}
                        <div id="plan-chat-general"
                             hx-get="{% url 'river_chat' river.slug 'plan' 'general' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>


                {# MONEY TAB #}

                <div x-show="openTab === 'two'">
                    <div id="event-plan-money"
                         @chatstatusupdate="setPlanChatOpen('two', $event.detail);"
                    >
                        <div id="plan-chat-money"
                             hx-get="{% url 'river_chat' river.slug 'plan' 'money' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>


                {# PLACE TAB #}

                <div x-show="openTab === 'three'">
                    <div id="event-plan-place"
                         @chatstatusupdate="setPlanChatOpen('three', $event.detail)"
                    >
                        <div id="plan-chat-place"
                             hx-get="{% url 'river_chat' river.slug 'plan' 'place' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>


                {# TIME TAB #}
                {% url 'river_chat_message_count' river.slug 'plan' 'time' as message_count_url_time %}
                <div x-show="openTab === 'four'">
                    <div id="event-plan-time"
                         @chatstatusupdate="setPlanChatOpen('four', $event.detail)"
                    >
                        <div id="plan-chat-time"
                             hx-get="{% url 'river_chat' river.slug 'plan' 'time' %}"
                             hx-trigger="load"
                             hx-target="this">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    {% endwith %}

    <script>

    /* Everything that's called from Alpine needs to have unique name */

        let currentlyActiveTabPlan = 'one'

        let currentlyActiveChatsPlan = {
            'one': false,
            'two': false,
            'three': false,
            'four': false,
        }

        // eventData comes from river_chat.html, received with @chatstatusupdate
        function setPlanChatOpen(chatId, eventData){

            let chatOpen = eventData.chatOpen

            if (chatId === 'one') {
                console.log('general')
                currentlyActiveChatsPlan['one'] = chatOpen
            } else if (chatId === 'two') {
                console.log('money')
                currentlyActiveChatsPlan['two'] = chatOpen
            } else if (chatId === 'three') {
                console.log('place')
                currentlyActiveChatsPlan['three'] = chatOpen
            } else if (chatId === 'four') {
                console.log('time')
                currentlyActiveChatsPlan['four'] = chatOpen
            }

            //console.log(`just set chat status to ${eventData.chatOpen}`)
        }

        function setCurrentlyActiveTab({openTab}) {
            //console.log('called tab change')
            //console.log(openTab)
            currentlyActiveTabPlan = openTab
        }

    </script>

{% endblock %}
