{% load static %}

{% block content %}

    <div id="event-reflect-general"
         @chatstatusupdate="setReflectChatOpen($event.detail)"
    >
        <div id="reflect-chat-general" hx-get="{% url 'river_chat' river.slug 'reflect' 'general' %}"
             hx-trigger="load"
             hx-target="this">
        </div>
    </div>
    <div class="mx-4.5">
        <div id="reflect-general-poll-wrapper">
            {% if river.reflect_stage.general_poll != None %}
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div hx-trigger="load" hx-target="closest #reflect-poll-wrapper"
                     hx-get="{% url 'poll_view' river.reflect_stage.general_poll.uuid %}"></div>
            {% endif %}
        </div>
    </div>

    <script>

        /* Everything that's called from Alpine needs to have unique name */

        let chatOpenReflect = false

                // eventData comes from river_chat.html, received with @chatstatusupdate
        function setReflectChatOpen(eventData){
            chatOpenReflect = eventData.chatOpen
            //console.log(`just set chat status to ${eventData.chatOpen}`)
        }
    </script>

{% endblock %}
