{% load static %}

{% block content %}

    {% url 'river_chat' river.slug 'reflect' 'general' 'count' as message_count_url %}

    <div x-data="{ openTab: 'one', chatActive: true }" x-init="
    setTimeout(()=>{saveMyUrl(`{{ message_count_url }}`, chatActive, 'data-swap-reflect-general')}, 1000);"
    >
        <div id="reflect-chat-general" hx-get="{% url 'river_chat' river.slug 'reflect' 'general' %}"
             hx-trigger="load, every 5s [newMessages('data-swap-reflect-general')]"
             hx-target="this">
        </div>
    </div>
    <div class="mx-4.5">
        <div id="reflect-general-poll-wrapper">
            {% if river.reflect_stage.general_poll != None %}
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div hx-trigger="load" hx-target="closest #reflect-poll-wrapper"
                     hx-get="{% url 'poll_view' river.reflect_stage.general_poll.uuid %}"></div>
            {% endif %}
        </div>
    </div>
    <div id="data-swap-reflect-general" class="hidden"></div>

    <script>

        let previouslyMessages = 0
        let chatOpen = false

        function saveMyUrl(myUrl, chatActive, dataSwapId) {

            chatOpen = chatActive
            if (!chatOpen) return;

            return new Promise(function (resolve, reject) {
                setInterval(function () {
                    //console.log(document.visibilityState)
                    if (document.visibilityState == 'visible') {
                        htmx.ajax('GET', myUrl, `#${dataSwapId}`)
                    }

                }, 5000)
            })

        }

        function newMessages(dataSwapId) {

            if (!chatOpen) return;

            let newMessagesHtml = document.getElementById(dataSwapId).innerHTML
            let newMessagesNumber = Number(newMessagesHtml)

            if (previouslyMessages === "" || newMessagesNumber !== previouslyMessages) {
                previouslyMessages = newMessagesNumber
                return true
            } else {
                return false
            }


        }
    </script>

{% endblock %}
