<div x-data="{ overlay: false }" class="inline-block">
    <button @click="overlay = ! overlay; console.log('BLUE remove button triggered overlay');"
            class="button-secondary button-on-white" type="button">
        Remove
    </button>
    <div class="" :class="overlay || 'hidden'">
        {# WET MODAL, Modal blurred backerground overlay #}
        <section class="z-20 flex overflow-hidden justify-center items-center flex-col h-full w-full fixed left-0 top-0 backdrop-blur px-4.5">
            {#  White modal background  #}
            <div class="w-full bg-white m-2.5 sm:w-[360px]">
                <div class="bg-red-light sm:w-[360px]">
                    <div class="p-2.5">
                        <div class="flex flex-col items-center py-9 px-4.5 text-center">
                            <p class="text-large pb-6">
                                Are you sure you want to remove {{ member.user.display_name }} from this river?
                            </p>
                            <p class="text-meta text-black/55 pb-6">
                                This action cannot be undone.
                            </p>
                            <div class="flex gap-4.5">
                                <button @click="overlay = ! overlay; console.log('Back button triggered overlay');" class="button button-on-colour">
                                    Back
                                </button>
                                <button @click="overlay = ! overlay; console.log('RED remove button triggered overlay');" name="action" value="remove_swimmer" class="button button-danger">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>