{% extends "partials/modal.html" %}

{% block modal_content %}
    {# If no resources:  #}
    {% if resources|length == 0 %}
        {% include "partials/salmon-of-knowledge.html" with text="No associated resources found." %}
    {% endif %}


    <div class="main-carousel">
        {% for resource in resources %}
            <div class="px-3 py-6 w-full text bg-white">
                <h1 class="font-garamond-500 text-22 text-black-large">{{resource.title}}</h1>
                {% include "partials/vertical-spacer.html" with space="3" %}
                <div class="flex flex-row gap-1.5 items-start">
                    {% for tag in resource.tags.all %}
                        {% include "river/river_tag.html" with title=tag %}
                    {% endfor %}
                </div>
                {% include "partials/vertical-spacer.html" with space="3" %}
                <p class="font-garamond-500 text-base leading-5 text-black-text">{{resource.summary}}</p>
                {% include "partials/vertical-spacer.html" with space="6" %}

                {% url 'resource_item' resource.slug as the_url %}
                {% include "partials/button.html" with url=the_url style="primary_white" button="Learn more" %}
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <button id="prev-button">prev</button>
        <span class="font-kanit-700 text-xs"><span id="slide-index">1</span>/{{resources|length}}</span>
        <button id="next-button">next</button>
    </div>


    <script>
        var flkty = new Flickity( '.main-carousel', {
            "prevNextButtons": false, "wrapAround": true, "pageDots": false
        });

        document.getElementById('prev-button').addEventListener('click', () => {
            flkty.previous()
        })

        document.getElementById('next-button').addEventListener('click', () => {
            flkty.next()
        })

        flkty.on( 'change',( index ) => {
            console.log({index})
            document.getElementById('slide-index').innerHTML = `${index + 1}`
        });

    </script>
{% endblock %}
