{% extends "base.html" %}
{% load custom_filters %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    {% block title %}{% include "partials/title.html" with title="River" extra_title=object.title %}{% endblock %}

    <div class="mx-4.5">
        {% include "partials/vertical-spacer.html" with space="2" %}

        <h1 class="text-title text-black/55">
            {{ object.title }}
        </h1>


        {% include "partials/vertical-spacer.html" with space="9" %}


        {% comment %}
        <p>tags: {{object.tags|attrmap:'name'|join:', '}}</p>
{% endcomment %}

        {% if request.user in starters|attrmap:'user' %}
            <p><a href="{% url 'edit_river' object.slug %}">Edit River</a></p>
            <p><a href="{% url 'manage_river' object.slug %}">Manage River</a></p>
        {% elif not request.user.is_anonymous %}
            <form method=post>
                {% csrf_token %}
                {% if request.user in members|attrmap:'user' %}
                    <button name=action value=leave>leave river</button>
                {% elif request.user.post_code.area == river.area %}
                    <button name=action value=join>join river</button>
                {% endif %}
            </form>
        {% endif %}
        {% include "partials/vertical-spacer.html" with space="9" %}

        <div class="-mx-4.5">
            {% include "river/swimmers.html" with title="swimmers" reference="swimmers" %}
            {% include "river/description.html" with title="description" reference="description" %}
            {% include "dashboard/partials/resources.html" with title="associated resources" reference="resources" %}
            {% include "river/envision.html" with title="envision stage" reference="envision" id="envision" %}


        </div>
        <div class="-mx-4.5 static">
            <div class="static">
                {% include "river/act.html" with title="act stage" reference="act" locked=True %}
                {% include "river/act.html" with title="plan stage" reference="plan" locked=True %}
                {% include "river/act.html" with title="reflect stage" reference="reflect" locked=True %}
            </div>
        </div>
    </div>
{% endblock content %}
