{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}
{% block content %}

    {% block title %}{% include "partials/title.html" with title="Private chat" partial=True %}{% endblock %}
    <div class="mx-4.5">
        {{ other_user.display_name }}
        {% include 'messaging/chatbox_snippet.html' with direct=False %}
    </div>

    {% if not user.is_authenticated %}
        <div class="bg-blue-done">
            {% url 'account_login' as the_url %}
            {% include "partials/call-to-action.html" with main="To participate in the project you need to be logged in." button="Log in" url=the_url  bg='done' %}
        </div>
    {% endif %}

{% endblock %}
