{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load django_vite %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% block title %}{% include "partials/title.html" with title='Start a River' %}{% endblock %}
    <div class="max-w-screen-xl mx-auto">
        {% include "partials/vertical-spacer.html" with space="3" %}

        <form method="post" enctype="multipart/form-data" class="m-0 px-4.5">
            {% csrf_token %}
            {% include "partials/input-label.html" with for="id_title" label="Title" %}
            {% render_field form.title class="input-text" %}

            {% include "partials/vertical-spacer.html" with space="9" %}

            {% include "partials/input-label.html" with for="id_description" label="Description" %}
            {% render_field form.description class="input-text" %}

            {% include "partials/vertical-spacer.html" with space="9" %}
            <div class="inline-block">
                {% include "partials/input-label.html" with for="id_tags" label="Tags" %}
            </div>
            <span class="text-header text-black/30 pl-2" id="counter">choose 3</span>
            {% include "partials/vertical-spacer.html" with space="3" %}
            <div class="flex flex-wrap gap-5 -m-1">
                {% if tags %}
                    {% for tag in tags %}
                        {% with counter=forloop.counter0 %}

                            <button id="button-{{ counter }}"
                                    onclick="event.preventDefault(); selectTag(this.id, '{{ tag }}')"
                                    class="px-1.5 py-1.5 rounded-sm flex items-center">
                                <span class="text-meta-label text-black/55 uppercase leading-none whitespace-normal tracking-[0.16em]">{{ tag }}</span>
                            </button>
                        {% endwith %}

                    {% endfor %}
                {% endif %}
            </div>
            {% include "partials/vertical-spacer.html" with space="12" %}
            {% include "partials/input-label.html" with for="id_image" label="Upload an image" %}
            {% include "partials/input-file.html" with field=form.image %}

            <input id="tags_input" name=tags type=text value="" class="hidden">

            {% comment %}            <textarea name=message></textarea>
                <input type="file" id="image" name="image">{% endcomment %}
            {% include "partials/vertical-spacer.html" with space="9" %}

            {% include "partials/input-label.html" with for="location_title" label="Location" %}
            <div x-data="{ marker: null }">

                <input type="hidden" name="location" :value="marker ? `SRID=4326;POINT (${marker.coordinates.join(' ')})` : ''">
                <div x-map="marker ? { markers: [marker], center: marker.coordinates, cursor: 'pointer' } : { cursor: 'pointer' }"
                     @click-map="marker = { ...$event.detail, type: 'river' }"
                     class="w-full h-96 rounded relative">
                    <button class="absolute top-20 right-2 z-20 bg-white rounded-full p-2"
                            x-show="marker"
                            @click="marker = null" type="button">
                        {% include 'partials/close.html' with size=6 %}
                    </button>
                </div>
            </div>

            {% include "partials/vertical-spacer.html" with space="9" %}

            <p class="text-black-text">
                NB: All new rivers start at the Envision stage. Future stages remain
                locked until a successful (i.e. majority YES) Poll takes place.
            </p>
            {% include "partials/vertical-spacer.html" with space="9" %}

            <button class="button button-important" type="submit">
                Publish
            </button>
        </form>

        {% include "partials/vertical-spacer.html" with space="6" %}

    </div>

    {% block scripts %}
        {% vite_asset 'templates/river/ts/start_river.ts' %}
    {% endblock %}
{% endblock content %}
