{% load custom_filters %}

<div class="flex flex-col gap-3" id="swimmers">
    {% for member in members %}

        <div class="flex justify-between items-center">

            <div class="flex gap-2 items-center">

                <a href="{% url 'user_detail' member.user.user_slug %}">
                    <img class="h-6 w-6" src={{ member.user.avatar.image_url }}>
                    <span class="text-meta-label">{{ member.user.display_name }}</span>
                </a>

            </div>
            <p class="text-meta text-black/30">Joined {{ member.join_date|date }}</p>
            {% if user in starters|attrmap:'user' %}
                <form hx-post="{% url 'manage_river' slug %}" hx-target="closest #swimmers">
                    <input type="hidden" name="membership" value="{{ member.id }}">
                    <button name="action" value="remove_swimmer">Remove</button>
                    <button name="action" value="offer_starter">Offer Starter Status</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% include "partials/vertical-spacer.html" with space="3" %}
