{% extends "base.html" %}

{% block body_class %}template-500{% endblock %}

{% block content %}
    <div class="flex flex-col h-screen">
        {% block title %}{% include "partials/title.html" with title="Something did not work" %}{% endblock %}
        {% include "partials/vertical-spacer.html" with space="4" %}
        <div class="p-4.5">
            {% include "partials/salmon-of-knowledge.html" with text="Hmm, the request you made could not be fulfilled..." url="/" button="Go home and try again" %}
        </div>
        {% include "partials/footer-gradient.html" %}
    </div>
{% endblock %}
