{% load custom_tags %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load django_vite %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    {% comment %}
    <title>
      {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% endcomment %}
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Favicon #}
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" sizes="any"><!-- 32×32 -->
    <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}"><!-- 180×180 -->

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {% vite_hmr_client %}
    {# Base script - pulls in all libraries and global stylesheets  #}
    {% vite_asset 'templates/ts/base.ts' %}

</head>

<body class="antialiased w-full " x-data="{ menu: false }">

{% comment %} URL-dependent navbar {% endcomment %}
<div hx-get="/core/check_url_nav/"
     hx-trigger="load"
     hx-swap="outerHTML"
>
</div>

<section class="block bg-white" :class="menu && 'blur'">
    {% wagtailuserbar %}

    {% block content %}

    {% endblock %}
</section>

{# Global javascript #}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

{% sfs_vite_prevent_unstyled_flash %}

</body>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
</html>
