{% extends "account/base.html" %}
{% comment %}/account/add_data.html{% endcomment %}

{% block content %}
    {% block title %}{% include "partials/title.html" with title="Add data" %}{% endblock %}

<h1>Add relevant data to your account</h1>

<form method="post" action="{% url 'account_add_data' %}">
    {% csrf_token %}
    <label for=year_of_birth>Year of Birth</label>
    <input id=year_of_birth name=year_of_birth type=text value="{{ user.year_of_birth }}"></input>
    <br/>
    <label for=user.post_code>Postcode</label>
    <input id=user.post_code name=post_code type=text value="{{ user.post_code.code }}"></input>
    <br/>
    <button type="submit">Update</button>
</form>
<br/>

<br/>



{% endblock %}
