{% extends "account/base.html" %}

{% comment %} Page: messages- chat exchanges with other users /account/chat/ {% endcomment %}

{% block content %}
    <div class="flex flex-col h-screen max-w-screen-xl mx-auto">

        {% block title %}
            {% include "partials/title.html" with title="Your Messages" %}
        {% endblock %}

        {% if user_chats %}
            <div class="flex gap-4 grow overflow-hidden">
                <div class="flex flex-col w-full min-w-[360px] desktop:max-w-[360px] overflow-y-auto {% if page_obj %}hidden{% endif %} desktop:block">
                    {% include "partials/vertical-spacer.html" with space="4" %}
                    {% for user_chat in user_chats %}
                        {% if user_chat.latest_message %}
                            {% with user_pk_string=user_chat.user.pk|stringformat:'s' %}
                                {% with user_slug=user_chat.user.display_name|add:" "|add:user_pk_string|slugify %}
                                    <a href="{% url 'user_chat' user_slug %}" id={{ user_slug }}>
                                        <div class="mx-4">
                                            {% with icon_width="30px" %}
                                                <div class="flex space-between items-start relative">
                                                    <div class="h-[{{ icon_width }}] w-[{{ icon_width }}]">
                                                        <img src="{{ user_chat.user.avatar.image_url }}"
                                                             class="w-7.5 h-7.5">
                                                    </div>
                                                    <div class="bg-gradient-to-r from-white to-gray-light rounded-r-[50px] pl-3.5 pr-9 py-3 w-full">
                                                        <h2 class="text-meta-label font-kanit-700 text-black/30">
                                                            {{ user_chat.user.display_name }}
                                                        </h2>
                                                        {% include "partials/vertical-spacer.html" with space="1.5" %}
                                                        <p class="text-body">
                                                            {% if user_chat.latest_message.sender.display_name == "salmon" %}
                                                                {% include user_chat.latest_message.snippet with preview=True message=user_chat.latest_message %}
                                                            {% elif user_chat.latest_message.text != "" %}
                                                                {{ user_chat.latest_message.text|truncatechars:50 }}
                                                            {% elif user_chat.latest_message.image != "" %}
                                                                The last message is an image.
                                                            {% elif user_chat.latest_message.file != "" %}
                                                                The last message is a document.
                                                            {% else %}
                                                                Message cannot be retrieved.
                                                            {% endif %}
                                                        </p>
                                                        {% include "partials/vertical-spacer.html" with space="1.5" %}
                                                        <div class="flex gap-3">
                                                            <span class="text-meta-label text-black/30">{{ user_chat.latest_message.timestamp|date:"G:i" }}</span>
                                                            <span class="text-meta-label text-black/30">{{ user_chat.latest_message.timestamp|date:"d/m/y" }}</span>
                                                            <div x-data="{ overlay: false }" class="inline-block">
                                                                <span @click="overlay = ! overlay; console.log('BLUE remove button triggered overlay'); $event.preventDefault();">
                                                                    <svg width="8" height="10" viewBox="0 0 8 10"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         class="fill-black/30">
                                                                        <path d="M0 10V0H4.42857L4.78571 1.49254H7.92857V6.86567H4.92857L4.57143 5.37313H0.785714V10H0ZM5.57143 6.04478H7.21429V2.31343H4.21429L3.85714 0.820896H0.785714V4.55224H5.21429L5.57143 6.04478Z"/>
                                                                    </svg>
                                                                </span>
                                                                <div class="" :class="overlay || 'hidden'"
                                                                     @click="$event.preventDefault();">
                                                                    <section
                                                                            class="z-20 flex overflow-hidden justify-center items-center flex-col h-full w-full fixed left-0 top-0 backdrop-blur px-4.5">
                                                                        {#  White modal background  #}
                                                                        <div class="w-full bg-white m-2.5 sm:w-[360px]">
                                                                            <div class="bg-red-important/30 sm:w-[360px]">
                                                                                <div class="p-2.5">
                                                                                    <div class="flex flex-col items-center py-9 px-4.5 text-center">
                                                                                        <p class="text-large pb-6">
                                                                                            Are you sure you want to
                                                                                            block {{ user_chat.user.display_name }}
                                                                                            from messaging you?
                                                                                        </p>
                                                                                        <p class="text-meta text-black-large pb-6">
                                                                                            This action cannot be
                                                                                            undone.
                                                                                        </p>
                                                                                        <div class="flex gap-4.5">
                                                                                            <button @click="overlay = ! overlay; console.log('Back button triggered overlay'); $event.preventDefault();"
                                                                                                    class="button button-on-colour">
                                                                                                Back
                                                                                            </button>
                                                                                            <button
                                                                                                    hx-post="{% url 'block_user_chat' user_chat.user.uuid %}"
                                                                                                    hx-trigger="click"
                                                                                                    hx-target="#{{ user_slug }}"
                                                                                                    hx-swap="outerHTML"
                                                                                                    @click="overlay = ! overlay; console.log('RED remove button triggered overlay'); $event.preventDefault();"
                                                                                                    name="action"
                                                                                                    value="remove_swimmer"
                                                                                                    class="button button-danger">
                                                                                                Block
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endwith %}
                                        </div>
                                    </a>
                                {% endwith %}
                            {% endwith %}
                        {% endif %}
                        {% include "partials/vertical-spacer.html" with space="6" %}
                    {% endfor %}
                </div>
                <div class="grow overflow-y-auto">
                    {% block user_chat %}
                    {% endblock %}
                </div>
            </div>
        {% else %}
            {% if request.user.post_code.area.name != 'Other' %}
                {% url 'spring' request.user.post_code.area.name as the_url %}
                {% if blocked_chats|length == 0 %}
                    <div class="mx-4">
                        {% include "partials/salmon-of-knowledge.html" with text="No messages yet, explore rivers to find people to talk to" url=the_url button="Go to the spring" %}
                    </div>
                {% else %}
                    <div class="mx-4">
                        {% include "partials/salmon-of-knowledge.html" with text="No unblocked chats, explore rivers to find people to talk to" url=the_url button="Go to the spring" %}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
