{% extends "account/base.html" %}

{% comment %} Delete your profile page /profile/delete/ {% endcomment %}

{% block content %}

    <div class="flex flex-col max-w-screen-xl mx-auto">

        {% block title %}{% include "partials/title.html" with title="Delete profile" %}{% endblock %}

        <div class="h-3"></div>

        <form method="post" class="px-4 m-0">
            {% csrf_token %}

            <p class="font-garamond-500 text-black/55 text-xl text-22">
                Are you sure you want to delete the profile associated with the email <span
                    class="">{{ user.email }}</span>?
            </p>

            <div class="h-9"></div>

            <div class="flex items-center">
                <a href="{% url 'account_view' %}" class="button button-on-white">
                    Back to profile
                </a>
                <div class="w-4"></div>
                <button type="submit" name=confirm value=confirm
                        class="button button-danger">
                    Delete
                </button>
            </div>
        </form>
    </div>

{% endblock %}
