{% extends "account/base.html" %}

{% comment %} Delete your account page /account/delete/ {% endcomment %}

{% block content %}

    {% block title %}{% include "partials/title.html" with title="Delete account" %}{% endblock %}

    <form method="post">
        {% csrf_token %}
        <p>Want to delete your account associated with the email: {{ user.email }}</p>
        <button type="submit" name=confirm value=confirm>Delete</button>
    </form>

    <p>No, keep my account</p>
    <a href="{% url 'account_view' %}">Return to site</a>

{% endblock %}
