{% extends "base.html" %}

{% comment %}After user passes the signup process or tries to log in with an account that has not been confirmed yet
/profile/confirm-email/{{dynamically-generated-token}}/
{% endcomment %}

{% load account %}

{% block content %}

    <div class="flex flex-col max-w-screen-xl mx-auto">

        {% if confirmation %}

            {% block title %}{% include "partials/title.html" with title="Confirm e-mail address" %}{% endblock %}

            <div class="h-3"></div>

            {% user_display confirmation.email_address.user as user_display %}

            <p class="font-garamond-500 text-black/55 text-xl text-22 px-4">
                Please confirm that you registered for a profile on Shared Futures using an e-mail address starting with
                “{{ user_display }}”
            </p>

            <div class="h-9"></div>

            <form class="px-4 m-0" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button type="submit"
                        class="button button-on-white">
                    Confirm
                </button>
            </form>

        {% else %}

            {% url 'account_email' as email_url %}

            <p class="font-garamond-500 text-black/55 text-xl text-22 px-4 pb-9">
                This e-mail confirmation link has expired or is invalid. Please attempt <a href="{{ email_url }}">to
                login to issue a new e-mail confirmation request</a>.
            </p>

        {% endif %}
    </div>

{% endblock %}