{% extends "base.html" %}

{% comment %}After user passes the signup process or tries to log in with an account that has not been confirmed yet
/account/confirm-email/{{dynamically-generated-token}}/
{% endcomment %}

{% load account %}


{% block content %}
    {% block title %}{% include "partials/title.html" with title="Confirm E-mail Address" %}{% endblock %}

    {% if confirmation %}



        {% user_display confirmation.email_address.user as user_display %}

        <p> Please confirm that you registered with us an e-mail address starting with: {{ user_display }}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit">Confirm</button>
        </form>

    {% else %}

        {% url 'account_email' as email_url %}

        <p>This e-mail confirmation link expired or is invalid. Please attempt <a href="{{ email_url }}">to login to
            issue a new e-mail
            confirmation request</a>.</p>

    {% endif %}

{% endblock %}