{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<p class="text-2xl">{% trans "Sign In" %}</p>

{% get_providers as socialaccount_providers %}

<p class="text-lg">
    Please log in to engage with other community members, access your profile and messages.
</p>



<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Email
            </label>
            {% render_field form.login class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" hx-post="/check_email/" hx-trigger="keyup[testFunction()] delay:500ms" hx-target="#email-feedback" hx-swap="outerHTML" %}
           <div id="email-feedback" class="hidden"></div>
        </div>




            <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            {% render_field form.password class="shadow appearance-none border border-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %}
        </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">{% trans "Sign In" %}
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

        </div>


</form>
</div>
<div>
    <p class="text-lg">You can also use Social Media accounts to log in:</p>
        <div class="socialaccount_ballot">

        <ul class="">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

    </div>


    {% include "socialaccount/snippets/login_extra.html" %}


    <p class="text-lg">If you haven't got an account yet, make sure to <a href="{{ signup_url }}" class="underline text-2xl font-semibold">create one</a>!
</p>
</div>


<!--Styles passed from views are not dynamically applied to tailwind
Tailwind classes are active only if applied to existing html element
-->
<p class="text-incorrect">incorrect</p>
<p class="text-correct">correct</p>

<script>
    function testFunction() {
        console.log('called')
        return true
    }


</script>

{% endblock %}