{% extends "account/base.html" %}

{% comment %} If you are not logged in and trying to access restricted areas you are redirected to /account/login/{% endcomment %}

{% load static %}
{% load django_vite %}

{% load account socialaccount %}

{% load widget_tweaks %}

{% get_providers as socialaccount_providers %}

{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Log in" %}{% endblock %}

        <form class="sm:w-[32rem] sm:mx-auto" method="POST" action="{% url 'account_login' %}" x-init="setupObserversLogin()">
            {% csrf_token %}

            {% include "partials/vertical-spacer.html" with space="4" %}

            {% if form.non_field_errors %}
                <div class="text-large text-center bg-red-important/30 p-4 px-6 mx-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% include "partials/vertical-spacer.html" with space="9" %}
            {% endif %}

            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="email-input" label="Email" %}
                {% include "partials/input-text.html" with field=form.login id="email-input" name="email-input" type="text" %}
                {% comment %}controlled via js/ts{% endcomment %}
                <span id="email-feedback" class="hidden block text-red-important font-kanit-400 text-xxs pt-2">Please enter a valid email address.</span>
            </div>

            <div class="px-4 pb-4.5">
                {% include "partials/input-label.html" with for="password-input" label="Password" %}
                {% include "partials/input-text.html" with field=form.password id="password-input" name="password-input" type="password" %}
            </div>

            <a href="{% url 'account_reset_password' %}"
               class="inline-block px-4 font-kanit-600 text-xxxs tracking-wide text-purple">
                Forgot your password?
            </a>

            {% include "partials/vertical-spacer.html" with space="9" %}

            <div class="px-4 pb-9">
                {% include "partials/input-submit.html" with button="Log in" id="submit-button" type="submit" %}
            </div>

        </form>

        <div class="flex flex-col flex-grow justify-end">
            <section class="bg-[linear-gradient(180deg,_#E5F1F8_0%,_#e5f1f800_41.67%)] flex flex-grow flex-col items-center">
                {% include "socialaccount/partials/provider_list.html" with process="login" %}
            </section>

            <div class="bg-yellow text-center">
                <h2 class="py-3 text-meta">
                    Don't have a Shared Futures account?
                </h2>
                {# TODO: Name not available due to lack of urls entry, consider overriding #}
                {# {% url 'account_login' as the_url %} #}
                {% include "partials/button.html" with url="/profile/signup/" style="primary_colour" button="Sign up" %}
                {% include "partials/vertical-spacer.html" with space="3" %}
            </div>
        </div>

        {% block scripts %}
            <!--
            <script src="{% static 'js/auth_helper.js' %}"></script>
            <script src="{% static 'js/login.js' %}"></script>
            -->
            {% vite_asset 'templates/userauth/account/ts/login.ts' %}
        {% endblock %}
    </div>

{% endblock %}