{% extends "account/base.html" %}

{% comment %} If you clicked log out link on the nav you are taken here /account/logout/
TODO: should logging out occur automatically after pressing that nav link?
{% endcomment %}


{% block content %}

    {% block title %}{% include "partials/title.html" with title="Log out" %}{% endblock %}
<p>Are you sure you want to log out?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">Log out</button>
</form>


{% endblock %}