{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% load widget_tweaks %}


{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Email
            </label>
            {% render_field form.email hx-post="/check_email/"  hx-trigger="keyup[emailLength(target.value)] delay:500ms" hx-target="#email-feedback" id="email-input" hx-swap="outerHTML" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %}
            <span id="email-feedback" class=""></span>

        </div>
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% block scripts %}

    <script src="{% static 'js/password-reset.js' %}"></script>
{% endblock %}

{% endblock %}