{% extends "account/base.html" %}

{% comment %} Page: a messages- direct chat exchanges with another user /account/password/change/
TODO: Shold this age be separate or within the 'settings' on user's page (profile view)?

{% endcomment %}

{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Password change" %}{% endblock %}

        <div class="h-3"></div>

        <section>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change px-4">
                {% csrf_token %}

                {# Can't find where this refers to, not sure how to style #}
                {{ form.as_p }}

                <div class="h-9"></div>

                <div class="flex items-center">
                    <a href="{% url 'account_view' %}" class="button button-on-white">
                        Back to profile
                    </a>
                    <div class="w-4"></div>
                    <button type="submit"
                            class="cursor-not-allowed button button-on-white"
                            name="action">
                        Change password
                    </button>
                </div>
            </form>

            <a href="{% url 'account_reset_password' %}"
               class="inline-block px-4 font-kanit-600 text-xxxs tracking-wide text-purple">
                Forgot your password?
            </a>
        </section>

        <div class="h-9"></div>

        {% include "partials/footer-gradient.html" %}
    </div>

{% endblock %}