{% comment %}
 Page: password change - account/password/set/ by default
TODO: Consider removing as it redirects to /password/change/ anyway
Commenting OUT all of it for now

{% extends "account/base.html" %}

{% endcomment %}

{% comment %}

{% block content %}

    {% block title %}{% include "partials/title.html" with title="Password change" %}{% endblock %}

    <h1>Set Password</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="Set Password"/>
    </form>
{% endblock %}{% endcomment %}
