{% extends "account/base.html" %}
{% comment %} Page: reset password via clicked email link - /account/password/reset/key/{{dynamically-generated-token}}/
{% endcomment %}

{% load account %}



{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Reset password" %}{% endblock %}

        {% if token_fail %}

            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="font-garamond-500 text-black-text text-xl text-22 px-4 pb-9">
                The password reset link was invalid, possibly because it has already been used. Please request a <a
                    href="{{ passwd_reset_url }}">new password reset</a>.
            </p>

        {% else %}

            {% if form %}
                <form class="px-4" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit"
                           name="action"
                           value="change password"
                           class="cursor-not-allowed inline-block px-4 py-3.5 transition ease-out duration-300 text-purple font-kanit-700 font-medium uppercase text-xxs tracking-widest rounded-full bg-blue-button disabled:bg-gray-light"
                    />
                </form>
            {% else %}
                <p class="font-garamond-500 text-black-text text-xl text-22 px-4 pb-9">
                    Your password is now changed.
                </p>
            {% endif %}

        {% endif %}

        <div class="bg-gradient-to-b from-blue-second to-white flex flex-grow"></div>
    </div>

{% endblock %}