{% extends "account/base.html" %}
{% comment %} Page: reset password via clicked email link - /account/password/reset/key/done/
{% endcomment %}


{% block content %}

    <div class="flex flex-col max-w-screen-xl mx-auto">

        {% block title %}{% include "partials/title.html" with title="Password changed" %}{% endblock %}

        {% include "partials/vertical-spacer.html" with space="3" %}

        <div class="text-large text-center bg-blue-done p-4 px-6 mx-4.5">
            <p>You have successfully changed your password.</p>
        </div>

        {% include "partials/vertical-spacer.html" with space="9" %}

        <div class="px-4.5">
            {% if user.is_authenticated %}
                <a href="{% url 'account_view' %}" class="button button-on-white">
                    Back to profile
                </a>
            {% else %}
                {% url 'account_login' as the_url %}
                {% include "partials/button.html" with url=the_url style="primary_white" button="Log in" %}
            {% endif %}
        </div>
    </div>

{% endblock %}