{% extends "account/base.html" %}
{% load django_vite %}
{% load static %}

{% load account %}

{% load widget_tweaks %}


{% comment %} Page: a messages- direct chat exchanges with another user /account/password/change/
TODO: Shold this age be separate or within the 'settings' on user's page?
{% endcomment %}


{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Reset your password" %}{% endblock %}

        <div class="h-3"></div>

        {#  Hidden the partial #}
        {% if user.is_authenticated %}
            {% include "account/partials/already_logged_in.html" %}
        {% endif %}

        <p class="font-garamond-500 text-black-large text-xl text-22 px-4">
            Don't worry. We’ll email you instructions to reset your password.
        </p>

        <div class="h-9"></div>

        <form method="POST" action="{% url 'account_reset_password' %}" onsubmit="return validateReset()" class="password_reset"
              x-init="setupObserversReset()">
            {% csrf_token %}

            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="email-input" label="Email" %}
                {% include "partials/input-text.html" with field=form.email id="email-input" name="email" type="email" %}

                {% comment %}controlled via js/ts{% endcomment %}
                <span id="email-feedback"
                      class="hidden block text-red-600 font-kanit-400 text-xxs pt-2">Feedback 1</span>
            </div>

            <div class="px-4 pb-9">
                {% include "partials/input-submit.html" with button="Reset password" id="submit-button" type="submit" %}
            </div>
        </form>

        {#  <p>Please contact us if you have any trouble resetting your password.</p> #}

        {% block scripts %}
            {% vite_asset 'templates/userauth/account/ts/password_reset.ts' %}
        {% endblock %}

        {% include "partials/footer-gradient.html" %}
    </div>

{% endblock %}