{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% comment %} Page: a messages- direct chat exchanges with another user /account/password/change/
TODO: Shold this age be separate or within the 'settings' on user's page (profile view)?

{% endcomment %}

{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Password change" %}{% endblock %}

        <section>

            <form method="POST" action="{% url 'account_change_password' %}"  x-init="setupObserversPsChange()" class="password_change px-4">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="mx-4 mb-4 font-garamond-500 bg-red-100">

                        {% for key,value in form.errors.items %}
                            {% if key == 'oldpassword' or key == 'password1' or key == 'password2' %}
                                <p class="px-4 my-2"> {{ value }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% comment %}We know the message is success and just want to print the first one in case they have multiplied{% endcomment %}
                {% if messages %}
                    {% for message in messages|slice:":1" %}
                        <div class="mx-4 mb-4 font-garamond-500 bg-green-100">
                            <p class="px-4 my-2">You have successfully changed your password.</p>
                        </div>
                    {% endfor %}
                {% endif %}


                <div class="px-4 pb-9">
                    {% include "partials/input-label.html" with for="old-password-input" label=" Old Password" %}
                    {% include "partials/input-text.html" with field=form.oldpassword id="old-password-input" name="old-password-input" type="password" %}
                    {% comment %}we do not know whether the password is correct until they submit{% endcomment %}

                </div>
                <div class="px-4 pb-9">
                    {% include "partials/input-label.html" with for="password-input1" label="New Password" %}
                    {% include "partials/input-text.html" with field=form.password1 id="password-input1" name="password-input1" type="password" %}

                    <span id="password-feedback1"
                          class="hidden block text-red-important font-kanit-400 text-xxs pt-2">Feedback 1</span>

                </div>

                <div class="px-4 pb-9">
                    {% include "partials/input-label.html" with for="password-input" label="Repeat password" %}
                    {% include "partials/input-text.html" with field=form.password2 id="password-input2" name="password-input2" type="password" %}


                    <span id="password-feedback2"
                          class="hidden block text-red-important font-kanit-400 text-xxs pt-2">Feedback 2</span>

                </div>

                <div class="h-9"></div>

                <div class="flex items-center">
                    <a href="{% url 'account_view' %}" class="button button-on-white">
                        Back to profile
                    </a>
                    <div class="w-4"></div>
                    <button id="submit-button"
                            disabled
                            type="submit"
                            class="cursor-not-allowed button button-on-white"
                            name="action">
                        Change password
                    </button>
                </div>

            </form>
            <a href="{% url 'account_reset_password' %}"
               class="inline-block px-4 font-kanit-600 text-xxxs tracking-wide text-purple">
                Forgot your password?
            </a>
        </section>

        <div class="h-9"></div>

        {% include "partials/footer-gradient.html" %}
    </div>

    {% block scripts %}
        <script src="{% static 'js/auth_helper.js' %}"></script>

        <script src="{% static 'js/password_change.js' %}"></script>

    {% endblock %}

{% endblock %}