{% extends "account/base.html" %}
{% comment %} Page: a messages- direct chat exchanges with another user profile/password/reset/done/
{% endcomment %}

{% load account %}

{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Password reset successful" %}{% endblock %}

        <div class="h-3"></div>

        {% if user.is_authenticated %}
            {% include "account/partials/already_logged_in.html" %}
        {% endif %}

        <p class="font-garamond-500 text-black-large text-xl text-22 px-4 pb-9">
            We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
        </p>

        {% include "partials/footer-gradient.html" %}
    </div>

{% endblock %}