{% extends "account/base.html" %}
{% load django_vite %}
{% comment %} Page: reset password via clicked email link - /account/password/reset/key/{{dynamically-generated-token}}/
{% endcomment %}

{% load account %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="flex flex-col max-w-screen-xl mx-auto">

        {% block title %}{% include "partials/title.html" with title="Set a new password" %}{% endblock %}

        {% include "partials/vertical-spacer.html" with space="3" %}

                {#  Error messages  #}
            {% if form.errors %}
                <div class="text-large text-center bg-red-light p-4 px-6">
                    {% for key,value in form.errors.items %}

                            <p>{{ value }}</p>

                    {% endfor %}
                </div>
                {% include "partials/vertical-spacer.html" with space="9" %}
            {% endif %}

        {% if token_fail %}

            <div>
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-large px-4">
                    The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.
                </p>
                {% include "partials/vertical-spacer.html" with space="9" %}
                <a href="{% url 'account_reset_password' %}"
                   class="mx-4 inline-block button button-on-white">
                    Request password reset
                </a>
                {% include "partials/vertical-spacer.html" with space="9" %}
            </div>

        {% else %}

            {% if form %}
                <form class="px-4 m-0" method="POST" action="{{ action_url }}"
                      x-init="setupObserversPsChange();" onsubmit="return validateResetKey()"
                      class="password_change px-4">
                    {% csrf_token %}

                    <div class="pb-9">
                        {% include "partials/input-label.html" with for="password-input1" label="New Password" %}
                        {% include "partials/input-text.html" with field=form.password1 id="password-input1" name="password-input1" type="password" %}

                        <span id="password-feedback1"
                              class="hidden block text-red font-kanit-400 text-xxs pt-2">Feedback 1</span>

                    </div>

                    <div class="pb-9">
                        {% include "partials/input-label.html" with for="password-input2" label="Repeat password" %}
                        {% include "partials/input-text.html" with field=form.password2 id="password-input2" name="password-input2" type="password" %}


                        <span id="password-feedback2"
                              class="hidden block text-red font-kanit-400 text-xxs pt-2">Feedback 2</span>

                    </div>


                    <button id="submit-button"
                            type="submit"
                            class="button button-on-white"
                            name="action">
                        Set password
                    </button>
                </form>
            {% else %}
                <p class="font-garamond-500 text-black/55 text-xl text-22 px-4">
                    Your password is now changed.
                </p>
            {% endif %}

        {% endif %}
    </div>

    {% block scripts %}
        {% vite_asset 'templates/userauth/account/ts/password_change.ts' %}
    {% endblock %}

{% endblock %}