{% extends "account/base.html" %}

{% comment %} Page: a messages- direct chat exchanges with another user /account/password/change/
TODO: Shold this age be separate or within the 'settings' on user's page (profile view)?

{% endcomment %}

{% block content %}
    {% block title %}{% include "partials/title.html" with title="Password change" %}{% endblock %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Change Password</button>
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </form>

{% endblock %}