{% extends "account/base.html" %}
{% load static %}

{% load account %}

{% load widget_tweaks %}


{% comment %} Page: a messages- direct chat exchanges with another user /account/password/change/
TODO: Shold this age be separate or within the 'settings' on user's page?
{% endcomment %}


{% block content %}

  <div class="flex flex-col h-screen">

    {% block title %}{% include "partials/title.html" with title="Reset your password" %}{% endblock %}

    {#  Hidden the partial #}
    {% if user.is_authenticated %}
      {% include "account/partials/already_logged_in.html" %}
    {% endif %}

    <p class="font-garamond-500 text-black-text text-xl text-22 px-4 pb-9">Don't worry. We’ll email you instructions
      to
      reset your
      password.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset"
      x-init="setupObserversReset()">
      {% csrf_token %}

      <div class="pt-4 px-4 pb-9">
        {% include "partials/input-label.html" with for="email-input" label="Email" %}

        {% include "partials/input-text.html" with field=form.email id="email-input" name="email" type="email" %}

        {% comment %}controlled via js/ts{% endcomment %}
        <span id="email-feedback"
          class="hidden block text-red-600 font-kanit-400 text-xxs pt-2">Feedback 1</span>
      </div>


      <div class="px-4 pb-9">
        {% include "partials/input-submit.html" with button="Reset password" id="submit-button" type="submit" %}
        {% comment %}                <input id="submit-button"
                       disabled
                       class="cursor-not-allowed inline-block px-4 py-3.5 transition ease-out duration-300 text-purple font-kanit-700 font-medium uppercase text-xxs tracking-widest rounded-full bg-blue-button disabled:bg-gray-light"
                       type="submit"
                       value="Reset password"/>
        {% endcomment %}
      </div>

    </form>

    {#    <p>Please contact us if you have any trouble resetting your password.</p>#}

    {% block scripts %}
      <script src="{% static 'js/password_reset.js' %}"></script>
      <script src="{% static 'js/auth_helper.js' %}"></script>

    {% endblock %}

    {% include "partials/footer-gradient.html" %}
  </div>

{% endblock %}