{% extends "account/base.html" %}
{% load django_vite %}
{% load static %}
{% load account socialaccount %}

{% load widget_tweaks %}

{% get_providers as socialaccount_providers %}

{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Sign up for Shared Futures" %}{% endblock %}

        <form class="signup sm:w-[32rem] sm:mx-auto" id="signup_form" onsubmit="return validateSignup()" method="post"
              action="{% url 'account_signup' %}"
              x-init="setupObserversSignup()">

            {% csrf_token %}

            <div class="pt-4 px-4 pb-9">
                {% include "partials/input-label.html" with for="email-input" label="Email" %}

                {% include "partials/input-text.html" with field=form.email id="email-input" name="email" type="email" %}

                {% comment %}controlled via js/ts{% endcomment %}
                <span id="email-feedback"
                      class="hidden block text-red-important font-kanit-400 text-xxs pt-2">Feedback 1</span>

            </div>


            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="password-input1" label="Password" %}
                {% include "partials/input-text.html" with field=form.password1 id="password-input1" name="password-input1" type="password" %}


                <span id="password-feedback1"
                      class="hidden block text-red-important font-kanit-400 text-xxs pt-2">Feedback 2</span>

            </div>

            <div class="px-4 pb-6">
                {% include "partials/input-label.html" with for="password-input2" label="Repeat password" %}
                {% include "partials/input-text.html" with field=form.password2 id="password-input2" name="password-input2" type="password" %}


                <span id="password-feedback2"
                      class="hidden block text-red-important font-kanit-400 text-xxs pt-2">Feedback 3</span>

            </div>

            {% comment %}<p class="px-4 text-meta text-black/30">
                I have read and consent to the <a href="{% url 'privacy' %}" class="font-kanit-600 text-purple">Privacy
                Policy</a>.
            </p>{% endcomment %}
            <div class="px-4 flex items-center">
                <input required class="rounded-full purple bg-blue-second border border-solid border-blue-second w-18 h-18
                                    focus:outline-none focus:ring-white
                                    {# checked:bg-none #} checked:bg-purple checked:bg-[url('data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' fill='%239759FF'/%3E%3C/svg%3E')]
                                    focus:checked:bg-purple hover:checked:bg-purple"
                       type="checkbox"
                       id="privacy-input"
                       for="privacy-consent">
                <div class="w-1.5"></div>
                <label class="uppercase font-kanit-400 text-xxs text-black-text text-center tracking-widest"
                       id="privacy-label" for="privacy-consent">
                    I have read and consent to the <a href="{% url 'privacy' %}" class="font-kanit-600 text-purple">Privacy
                    Policy</a>.
                </label>
            </div>
            {% include "partials/vertical-spacer.html" with space="6" %}
            <div class="px-4 pb-6">
                {% include "partials/input-submit.html" with button="Sign up" id="submit-button" type="submit" %}

            </div>

        </form>

        <div class="flex flex-col flex-grow justify-end">
            <section class="bg-[linear-gradient(180deg,_#E5F1F8_0%,_#e5f1f800_41.67%)] flex flex-grow flex-col items-center">
                {% if show_social_logins %}
                {% include "socialaccount/partials/provider_list.html" with process="login" %}
                {% endif %}
            </section>

            <section class="bg-yellow text-center">
                <h2 class="py-3 font-kanit-400 text-xxxs tracking-wide text-black-text">
                    Already have a Shared Futures account?
                </h2>

                {% url 'account_login' as the_url %}
                {% include "partials/button.html" with url=the_url style="primary_colour" button="Log in" %}

                <div class="pb-3"></div>
            </section>
        </div>

        {% block scripts %}
            {% vite_asset 'templates/userauth/account/ts/signup.ts' %}
        {% endblock %}
    </div>

{% endblock %}