{% extends "account/base.html" %}

{% comment %} In case we disable signup in the settings and people want to go to Sign up Page {% endcomment %}

{% block content %}

    <div class="flex flex-col max-w-screen-xl mx-auto">

        {% block title %}{% include "partials/title.html" with title="Sign up closed" %}{% endblock %}

        <p class="font-garamond-500 text-black/75 text-xl text-22 px-4 pb-9">
            We are sorry, but the sign up is currently closed.
        </p>
    </div>

{% endblock %}