{% extends "account/base.html" %}
{% load static %}
{% load account socialaccount %}

{% load widget_tweaks %}

{% get_providers as socialaccount_providers %}

{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Sign up for Shared Futures" %}{% endblock %}

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" x-init="setupObservers()">

            {% csrf_token %}

            <div class="pt-4 px-4 pb-9">
                {% include "partials/input-label.html" with for="email-input" label="Email" %}
                {% render_field form.email id="email-input" type="email" hx-post="/account/check_email/" hx-trigger="focusout[processEmailValue()] delay:500ms" hx-target="#email-feedback" hx-swap="innerHTML" class="form-control block w-full px-3 py-2.5 font-body text-black-text placeholder:text-black-meta bg-blue-second bg-clip-padding border border-solid border-white transition ease-in-out m-0 focus:text-black-text focus:bg-white focus:border-gray-light focus:ring-0" %}

                {% comment %}
                {% include "partials/input-text.html" with field=form.email id="email-input" name="email" type="email" hxurl="/account/check_email/" hxtrigger="focusout[processEmailValue()] delay:500ms" hxtarget="#email-feedback" hxswap="innerHTML" %}
{% endcomment %}
                {% comment %}controlled via js/ts{% endcomment %}
                <span id="email-feedback" class="hidden block text-red-600 font-kanit-400 text-xxs pt-2">Feedback 1</span>
            </div>

            {% comment %}
    {{ form.as_p }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
{% endcomment %}

            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="password-input1" label="Password" %}
                {% render_field form.password1 id="password-input1" onfocusout="getPasswordFeedback()" class="form-control block w-full px-3 py-2.5 font-body text-black-text placeholder:text-black-meta bg-blue-second bg-clip-padding border border-solid border-white transition ease-in-out m-0 focus:text-black-text focus:bg-white focus:border-gray-light focus:ring-0" %}

                {% comment %}
                {% include "partials/input-text.html" with field=form.password1 id="password-input1" name="password-input1" type="password" focusout="getPasswordFeedback()" %}
{% endcomment %}

                <span id="password-feedback1" class="hidden block text-red-600 font-kanit-400 text-xxs pt-2">Feedback 2</span>
            </div>

            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="password-input2" label="Repeat password" %}
                {% render_field form.password2 id="password-input2" onfocusout="comparePasswords()" class="form-control block w-full px-3 py-2.5 font-body text-black-text placeholder:text-black-meta bg-blue-second bg-clip-padding border border-solid border-white transition ease-in-out m-0 focus:text-black-text focus:bg-white focus:border-gray-light focus:ring-0" %}

                {% comment %}
                {% include "partials/input-text.html" with field=form.password2 id="password-input2" name="password-input2" type="password" keyup="comparePasswords()" %}
{% endcomment %}

                <span id="password-feedback2" class="hidden block text-red-600 font-kanit-400 text-xxs pt-2">Feedback 3</span>
            </div>

            <div class="px-4 pb-6">

                {% include "partials/input-submit.html" with button="Sign up" id="submit-button" type="submit" onclick="checkFeedbackBeforeSubmit()" %}

            </div>

        </form>

        <section class="bg-gradient-to-b from-blue-second to-white flex flex-col items-center">
            <h2 class="pt-10 mx-auto inline-block pb-8 uppercase font-kanit-600 font-medium text-xxs tracking-widest text-black-text">
                Alternatively sign up with</h2>
            {% include "socialaccount/partials/provider_list.html" with process="login" %}
        </section>

        <div class="bg-blue-second text-center">
            <h2 class="pt-4 pb-4 uppercase font-kanit-400 text-xxxs tracking-widest text-black-text">
                Already have a Shared Futures account?
            </h2>
            <a href="{{ login_url }}"
               class="inline-block mb-2 bg-blue-button px-4 py-3.5 hover:bg-blue-done transition ease-out duration-300 text-purple font-kanit-700 font-medium uppercase text-xxs tracking-widest rounded-full disabled:bg-gray-light">
                Log in
            </a>
        </div>

        {% block scripts %}
            <script src="{% static 'js/auth-helper.js' %}"></script>
            <script>
{% comment %}                var targetEmail = document.getElementById('email-feedback')
                var observer = new MutationObserver(function (mutations) {
                    mutations.forEach(function (mutation) {
                        if (mutation.type === 'childList') {
                            if (target.innerText === '') {
                                console.log('empty')
                                console.log(target.classList.contains('hidden'))
                                if (!target.classList.contains('hidden')) {

                                    target.classList.add('hidden')
                                }
                                console.log('LOOOL')
                            } else {
                                if (target.classList.contains('hidden')) {
                                    target.classList.remove('hidden')
                                }
                            }
                            console.log(target.innerText)
                        }
                        console.log(mutation.type);
                    });
                });
                var config = {attributes: true, childList: true, characterData: true};
                observer.observe(target, config);{% endcomment %}
            </script>
        {% endblock %}

        {% include "partials/footer-gradient.html" %}
    </div>

{% endblock %}