{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Update account" %}{% endblock %}


{% block content %}

<h1>{% trans "Update account" %}</h1>

{{ user.pk }}
{{user.display_name}}

<p>Already wanting to update your account {{ object.email }}? Then please go ahead!</p>

<form method="post" action="{% url 'account_update' object.pk %}">
    {% csrf_token %}

    {% for i in form %}

    {% if i.name == 'display_name' %}
    Change your name
    {{i}}
    {% endif %}
    {% endfor %}
    <button type="submit">{% trans "Update" %}</button>
</form>
<br/>
<form method="post" action="{% url 'account_email' %}" class="add_email">
    {% csrf_token %}
    {% for i in form %}

    {% if i.name == 'email' %}
    Your email
    {{i}}
    {% endif %}
    {% endfor %}
    <button name="action_add" type="submit">{% trans "Update" %}</button>
</form>


<div>
    <p>Make a request for an admin to change other account information</p>
    <a href="{% url 'account_request' %}">{% trans "Request a change" %}</a>

<div>
    <p>Prefer to delete?</p>
    <a href="{% url 'account_delete' object.pk %}">{% trans "Delete your account"%}</a>
</div>


{% endblock %}
