{% extends "account/base.html" %}

{% comment %} Page: a messages- direct chat exchanges with another user {% endcomment %}

{% block content %}

        {% block title %}
        {% include "partials/title.html" with title="💬 with " chat_title=members.0.display_name %}
    {% endblock %}
    {% include 'messaging/messages.html' %}

{% comment %}

    {% block title %}
        {% include "partials/title.html" with title="💬 with " chat_title=other_user.display_name %}
    {% endblock %}

    <div class="bg-gray-light bg-gray-light sm:w-[360px] flex flex-col w-screen h-screen fixed overflow-y-auto">
        <div class="mx-4.5">
            {% url 'user_chat' user_path as message_post_url %}

            <form hx-get="{{ message_post_url }}" hx-params="retrieve_messages" hx-trigger=load hx-target=this class="m-0">
                <input type=hidden name="retrieve_messages">
                <input type=hidden name="from" value=0>
                <input type=hidden name="interval" value=10>
                {% csrf_token %}
            </form>
            {% include 'messaging/chatbox_snippet.html' with direct=True message_post_url=message_post_url %}
        </div>
    </div>
{% endcomment %}

{% endblock %}
