{% extends "account/base.html" %}

{% comment %}After successful signup /account/confirm-email/ {% endcomment %}

{% block content %}

    <div class="flex flex-col max-w-screen-xl mx-auto">
        {% block title %}{% include "partials/title.html" with title="Check your email" %}{% endblock %}

        <div class="h-3"></div>

        <div class="font-garamond-500 text-black-large text-xl text-22 px-4">
            <p>
                We've sent a message to the email you provided with a link to activate your profile.
            </p>
            <div class="h-9"></div>
            <p>
                Didn't get an email? Check your spam folder!
            </p>
            <div class="h-9"></div>
        </div>
    </div>

{% endblock %}
