{% extends "account/base.html" %}

{% comment %}After successful signup /account/confirm-email/ {% endcomment %}

{% block content %}

  <div class="flex flex-col h-screen">
    {% block title %}{% include "partials/title.html" with title="Check your email" %}{% endblock %}

    <p class="font-garamond-500 text-black-text text-xl text-22 px-4 pb-9">
      We've sent a message to the email you provided with a link to activate your profile.
    </p>

    <p class="font-garamond-500 text-black-text text-xl text-22 px-4 pb-9">
      Didn't get an email? Check your spam folder!
    </p>

    {% include "partials/footer-gradient.html" %}
  </div>

{% endblock %}
