
{% extends "base.html" %}


{% block content %}
<section id="profile-view">
<a href="{% url 'dashboard' %}">Back to Dashboard</a>

<p class="font-sans text-5xl bg">Your account</p>
{% if user.organisation %}<br/>this account belongs to an organisation{% endif %}
<div id="profile-data">
    <br/>
    Display name: {{user.display_name}}
    <br/>
    Year of birth: {{user.year_of_birth}}
    <br/>
    Post code: {{user.post_code}}
    <br/>
    Profile image:
    <br/>
    {% if user.avatar.url != null%}
    <img src="{{ user.avatar.url }}"/>
    {% else %}
    Don't have one yet.
    {% endif %}
    <br/>
    E-mail: {{user.email}}

    <br/>
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" hx-get="{% url 'account_update' %}" hx-target="#profile-data" hx-swap="outerHTML">Edit profile</button>

</div>
<hr/>

</section>
{% endblock %}
