{% extends "account/base.html" %}


{% comment %} User logged in profile view /account/view/
can trigger profile edit too
TODO: https://hub.animorph.coop/apps/deck/#/board/41/card/1526
{% endcomment %}

{% block content %}



    {% block title %}{% include "partials/title.html" with title=user.display_name %}{% endblock %}


    <p class="font-sans text-5xl bg">{{ user.display_name }} profile</p>

    <div id="profile-data">

        <br/>
        {{ user.display_name }}, born in {{ user.year_of_birth }}
        <br/>

        Living at Post code {{ user.post_code }}

        <br/>

        {% comment %}testing a way of parsing foreign key images{% endcomment %}
        Profile image: <img class="inline" src="{{ user.avatar.image_url|default_if_none:'#' }}">
        <br/>

        {% comment %}By default people belong to organisation 'None'! {% endcomment %}
        {% if user.organisation != "None" %}
            <div>
                From <a href="{{ user.organisation.link }}">{{ user.organisation }}</a>
            </div>
        {% endif %}


    </div>

{% endblock %}
