# inventory.yaml
export ANSIBLE_HOST=your.ip.address.here
export ANSIBLE_USER=root

# vars.yaml
export DEBUG_MODE=1
export VITE_DEV_MODE=0
export DOMAIN_NAME=sharedfutures.space
export EMAIL=email@example.com
export SECRET_KEY=xxx
export PG_PASSWORD=password
export CELERY_BROKER_URL=redis://localhost:6379
export CELERY_RESULT_BACKEND=redis://localhost:6379
export ENABLE_ALLAUTH_SOCIAL_LOGIN=1
export GOOGLE_CLIENT_ID=xxx
export GOOGLE_SECRET=xxx
export EMAIL_HOST=mail.example.com
export EMAIL_HOST_USER=hi@example.com
export EMAIL_HOST_PASSWORD=xxx
export DEFAULT_FROM_EMAIL=hi@example.com
export WEATHER_API_KEY=xxx
