SECRET_KEY = '{{ secret_key }}'

WEATHER_API_KEY = '{{ weather_api_key }}'

EMAIL_HOST_PASSWORD = '{{ email_host_password }}'

GOOGLE_CLIENT_ID = '{{ google_client_id}}'
GOOGLE_SECRET = '{{ google_secret }}'
