[uwsgi]
master = True
module = sfs.wsgi:application
virtualenv = venv
strict = True
http-socket = :5000
need-app = True
vacuum = True
max-requests = 5000
processes = 5
harakiri = 20
enable-threads = True
die-on-term = true

env = DJANGO_SETTINGS_MODULE=sfs.settings
env = DOMAIN_NAME={{ domain_name }}
env = SECRET_KEY={{ secret_key }}
env = DEBUG={{ debug_mode }}
env = DJANGO_VITE_DEV_MODE={{ vite_dev_mode }}
env = POSTGRES_DB=sfs_db
env = POSTGRES_USER=sfs_user
env = POSTGRES_PASSWORD={{ pg_password }}
env = DB_HOST=localhost
env = GOOGLE_CLIENT_ID={{ google_client_id }}
env = GOOGLE_SECRET={{ google_secret }}
env = EMAIL_HOST_PASSWORD={{ email_host_password }}
env = WEATHER_API_KEY={{ weather_api_key }}
