[uwsgi]
master = True
module = sfs.wsgi:application
virtualenv = venv
strict = True
http-socket = :5000
need-app = True
vacuum = True
max-requests = 5000
processes = 5
harakiri = 20
enable-threads = True
die-on-term = true

env = DJANGO_SETTINGS_MODULE=sfs.settings
env = DOMAIN_NAME=opencult.com
env = SECRET_KEY=xxx
env = DEBUG=1
env = DJANGO_VITE_DEV_MODE=0
env = POSTGRES_DB=sfs_db
env = POSTGRES_USER=sfs_user
env = POSTGRES_PASSWORD=password
env = DB_HOST=localhost
env = GOOGLE_CLIENT_ID=xxx
env = GOOGLE_SECRET=xxx
env = EMAIL_HOST_PASSWORD=xxx
env = WEATHER_API_KEY=xxx
