---
debug_mode: 1
vite_dev_mode: 0
domain_name: sharedfutures.space
email: email@example.com
secret_key: xxx
pg_password: password
google_client_id: xxx
google_secret: xxx
email_host_password: xxx
weather_api_key: xxx
