<div class="-mx-4.5">
    <div class="main-carousel w-full" data-flickity='{ "prevNextButtons": false }'>
        <div class="w-full">
            <div class="mx-4.5">
                <h2 class="font-kanit-500 text-xl leading-6 text-center">The Alpkit foundation</h2>
                {% include "partials/horizontal-spacer.html" with space="6" %}
                <p class="font-garamond-500 text-base leading-5">Please write to your councilor so we can roll out the platform in your area as well!</p>
                {% include "partials/horizontal-spacer.html" with space="6" %}
                <div class="w-full flex justify-center">
                    {% include "partials/button.html" with url="the_url" style="primary_white" button="Find out more" %}
                </div>
                {% include "partials/horizontal-spacer.html" with space="6" %}
            </div>
        </div>
        <div class="w-full">
            <div class="mx-4.5">
                Slide two
            </div>
        </div>
        <div class="w-full">
            <div class="mx-4.5">
                Slide three
            </div>
        </div>
    </div>
</div>
