<div class="-mx-4.5">
    <div class="main-carousel w-full" data-flickity='{ "prevNextButtons": false, "wrapAround": true }'>
        <div class="w-full">
            <div class="mx-4.5">
                <h2 class="font-kanit-500 text-xl leading-6 text-black-large text-center">
                    Community Counselling
                </h2>
                {% include "partials/vertical-spacer.html" with space="3" %}
                <p class="font-garamond-500 text-base text-black-large text-center leading-5">
                    This resource links you to a community-focused service providing accessible, confidential counselling in East Belfast
                </p>
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div class="w-full flex justify-center">
                    {% include "partials/button.html" with url="the_url" style="primary_white" button="Find out more" %}
                </div>
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div class="bg-[url('/static/images/landing/case-studies/East_Belfast_Case_Study_Community_Counselling.jpeg')] bg-center bg-cover -mx-4.5 h-[100vw] sm:h-[400px]"></div>
            </div>
        </div>
        <div class="w-full">
            <div class="mx-4.5">
                <h2 class="font-kanit-500 text-xl leading-6 text-black-large text-center">
                    Peace Walls Project
                </h2>
                {% include "partials/vertical-spacer.html" with space="3" %}
                <p class="font-garamond-500 text-base text-black-large text-center leading-5">
                    Assisting interface communities impacted by the peace walls and physical barriers, providing confidence and relationship building interventions.
                </p>
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div class="w-full flex justify-center">
                    {% include "partials/button.html" with url="the_url" style="primary_white" button="Find out more" %}
                </div>
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div class="bg-[url('/static/images/landing/case-studies/North_Belfast_Case_Study_Peace_Walls_Project.png')] bg-center bg-cover -mx-4.5 h-100vw sm:h-[400px]"></div>
            </div>
        </div>
        <div class="w-full">
            <div class="mx-4.5">
                <h2 class="font-kanit-500 text-xl leading-6 text-black-large text-center">
                    Employability South
                </h2>
                {% include "partials/vertical-spacer.html" with space="3" %}
                <p class="font-garamond-500 text-base text-black-large text-center leading-5">
                    A market development association designed to offer support to individuals from the local communities of South Belfast.
                </p>
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div class="w-full flex justify-center">
                    {% include "partials/button.html" with url="the_url" style="primary_white" button="Find out more" %}
                </div>
                {% include "partials/vertical-spacer.html" with space="6" %}
                <div class="bg-[url('/static/images/landing/case-studies/South_Belfast_How_to_Employability_South.png')] bg-center bg-cover -mx-4.5 h-[100vw] sm:h-[400px]"></div>
            </div>
        </div>
    </div>
</div>