{% extends "base.html" %}
{% load static %}

{% comment %}uses area_delaits simple tag from area/templatetages{% endcomment %}
{% load area_details %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% get_areas as areas_dict %}
    {% url 'account_signup' as signup_url %}
    {% url 'account_login' as login_url %}
    {% block title %}{% include "partials/title.html" with title="Shared Futures" %}{% endblock %}

    <div class="mx-4.5">


        {% include "partials/vertical-spacer.html" with space="6" %}

        {% include "landing/main-heading.html" with title="A community river management tool that empowers people to work together and get stuff done." %}
        {% include "partials/vertical-spacer.html" with space="9" %}

        <div class="-mx-4.5 relative h-auto min-h-[180px] sm:h-auto">
            <div class="relative w-full z-10">
                <video class="" autoplay muted loop>
                    <source src="{% static 'images/landing/shared_futures_waters.mp4' %}" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="h-1/2 z-20 absolute top-0 left-0 w-full h-full flex flex-row justify-center items-center">
                {% include "partials/button.html" with url=signup_url style="primary_colour" button="Sign up" %}
                {% include "partials/horizontal-spacer.html" with space="4" %}
                {% include "partials/button.html" with url=login_url style="primary_colour" button="Log in" %}
            </div>
        </div>

        {% include "partials/vertical-spacer.html" with space="9" %}

        {% include "landing/section-heading.html" with title="What Shared Futures offers" %}
        {% include "partials/vertical-spacer.html" with space="9" %}
        {% include "landing/tabbed-resources/index.html" %}
        {% include "partials/vertical-spacer.html" with space="9" %}

        {% include "landing/section-heading.html" with title="Where do we currently operate" %}
        {% include "partials/vertical-spacer.html" with space="9" %}
        {% comment %}    {% get_areas as areas %}

    {% for area in areas %}
        {{ area.name }}
    {% endfor %}{% endcomment %}
        <div class="grid grid-cols-2 gap-5">
            {% if areas_dict|length >= 6 %}
                {# this is to stop it complaining when there's no areas loaded, such as during tests #}

                {% for key, value in areas_dict.items %}
                    {% include "landing/rounded-image.html" with image=key slug=key title=value %}

                {% endfor %}
            {% endif %}
        </div>
        {% include "partials/vertical-spacer.html" with space="9" %}

        <section class="bg-resources-two -mx-4.5">
            {% url 'resources' as resources_url %}

            {% include "partials/call-to-action.html" with main="Would you like to find out what services and resources are available in your area?" button="See resources" url=resources_url info="" %}
        </section>
        {% comment %}        <section class="bg-[rgba(121,203,208,1)] -mx-4.5">
            {% include "partials/call-to-action.html" with main="Find a community river to join!" button="Go to your river" url=the_url info="" %}
        </section>{% endcomment %}
        <section class="bg-yellow -mx-4.5">
            {% include "partials/call-to-action.html" with main="Do you have a river in mind you would like to find like minded people to deliver?" button="Sign up" url=signup_url info="" %}
        </section>

        {% include "partials/vertical-spacer.html" with space="9" %}
        {% include "landing/section-heading.html" with title="Case Studies" %}
        {% include "partials/vertical-spacer.html" with space="6" %}
        {% include "landing/carousel.html" %}
        {% include "partials/vertical-spacer.html" with space="9" %}


        {% include "partials/vertical-spacer.html" with space="9" %}
        {% include "landing/section-heading.html" with title="get in touch 📧" %}
        {% include "partials/vertical-spacer.html" with space="9" %}

        <div class="">
            {% include "partials/get-in-touch-buttons.html" %}
        </div>

        {% include "partials/vertical-spacer.html" with space="9" %}

        {% include "partials/footer-text.html" %}
    </div>

{% endblock content %}
