{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    {% block title %}{% include "partials/title.html" with title=user.display_name dashboard=True %}{% endblock %}

    {% comment %}
<p class="font-sans text-2xl">🐠</p>
{% endcomment %}

    <section>
        <img src="{% static 'images/dashboard/mobius.gif' %}" alt="mobius temp" class="w-full">

        <div id="initial" class="">
            {% include 'dashboard/partials/location.html' %}
        </div>
    </section>

    {% block messages %}
        {% include "dashboard/partials/accordion.html" with title="Messages" list_items=messages %}
    {% endblock %}

    {% block notifications %}
        {% include "dashboard/partials/accordion.html" with title="Notifications" list_items=notifications %}
    {% endblock %}

    <section class="bg-resources-two">
        <div class="flex flex-col items-center py-7">
            <p class="font-garamond-500 text-black-large text-22 pb-6">Ready to swim?</p>
            <a href="{% url 'all_projects' %}" class="inline-block rounded-full px-4 py-4
                                                        font-kanit-700 uppercase font-medium text-xxs tracking-widest leading-4
                                                        text-purple bg-white
                                                        hover:bg-resources-one focus:bg-resources-one
                                                        transition ease-out duration-300">
                Go to the spring
            </a>
        </div>
    </section>

    {% block rivers %}
        {% include "dashboard/partials/accordion.html" with title="Status of your rivers" list_items=rivers %}
    {% endblock %}

    {% block resources %}
        {% include "dashboard/partials/accordion.html" with title="Favourite resources" list_items=resources %}
    {% endblock %}

    {% comment %}
    TODO: Is this true?
    {% endcomment %}
    {% if user.is_staff %}
        <br/>
        <a href="{% url 'account_request_panel' %}">Manage User Requests</a>
    {% endif %}

    <script src="{% static 'js/dashboard.js' %}"></script>

{% endblock content %}
