{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<p class="font-sans text-2xl">Welcome {{ user.display_name }}🐠</p>

<img src="{% static 'images/dashboard/mobius.gif' %}" alt="mobius temp" class="w-full mt-12">

<!--

{% if user.year_of_birth == None or user.post_code == None %}
<a href="{% url 'account_add_data' %}">Your profile misses important data, please add them in.</a>
<br/>
{% endif %}-->
    <div id="initial" class="">
        {% include 'dashboard/partials/location.html' %}
    </div>
<br/>
<a href="{% url 'account_view' %}">Profile view</a>

{% if user.is_staff %}
<br/>
<a href="{% url 'account_request_panel' %}">Manage User Requests</a>
{% endif %}
<br/>
<a href="{% url 'all_chats' %}">Your Messages</a>
<br/>
<a href="{% url 'all_projects' %}">Projects</a>


<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock content %}
