{% extends "account/base.html" %}

{% load widget_tweaks %}

{% load static %}

{% block content %}

    <div class="flex flex-col h-screen">

        {% block title %}{% include "partials/title.html" with title="Wizard" %}{% endblock %}

        {% if messages %}
        <div class="text-medium text-center p-4 mx-auto sm:w-[32rem] sm:mx-auto">
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form class="sm:w-[32rem] sm:mx-auto" enctype="multipart/form-data" method="POST" action="{% url 'wizard' %}" x-init="setupObserversWizard()">
            {% csrf_token %}

            {% include "partials/vertical-spacer.html" with space="4" %}

            <h1 class="text-title text-black/55 p-4">Add area</h1>

            {% if form.non_field_errors %}
                <div class="text-large text-center bg-red-important/30 p-4 px-6 mx-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% include "partials/vertical-spacer.html" with space="9" %}
            {% endif %}

            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="text-input" label="Area name" %}
                {% include "partials/input-text.html" with field=form.name id="text-input" name="text-input" type="text" %}
            </div>

            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="text-input" label="Post Codes" %}
                {% include "partials/input-text.html" with field=form.post_code id="text-input" name="text-input" type="text" %}
                <p class="text-sm text-black-text">
                    Comma separated list of the post codes of the area.
                </p>
            </div>

            <div class="px-4 pb-9">
                {% include "partials/input-label.html" with for="id_image" label="Upload an image" %}
                <div class="text-meta text-black/30">
                    {% render_field form.image %}
                </div>
            </div>

            {% include "partials/vertical-spacer.html" with space="6" %}

            <div class="px-4 pb-9">
                {% include "partials/input-submit.html" with button="Save" id="submit-button" type="submit" %}
            </div>
        </form>

        {% block scripts %}
            <script src="{% static 'js/auth_helper.js' %}"></script>
            <script src="{% static 'js/wizard.js' %}"></script>
        {% endblock %}
    </div>

{% endblock %}
