{% load custom_filters %}
{% if request.user in ownerships|attrmap:'user' %}
 <table id=members>
  <tr>
   <th>Member</th>
   <th>Status</th>
   <th></th>
  </tr>
  {% for membership in memberships %}
    <form method=POST>
    {% csrf_token %}
    <input type=hidden name=membership value={{membership.id}}></input>
    <tr>
     <td>{{membership.user.display_name}}</td>
     <td>{% if membership.owner %}Owner{% endif %} {% if membership.champion %}Champion{% endif %}</td>
     <td>
      <button name=action value={% if membership.champion %}remove_championship>remove championship{% else %}offer_championship>offer championship{% endif %}</button>
      {% if not membership.owner %}<button name=action value=offer_ownership>offer ownership</button>{% endif %}
    </tr>
    </form>
  {% endfor %}
 </table>
{% else %}
 You are not authorised to manage this project
{% endif %}
