plan view

<p><a href="{% url 'project_chat' project.slug 'plan' 'general' %}">Plan General Chat</a></p>
<p><a href="{% url 'project_chat' project.slug 'plan' 'funding' %}">Plan Funding Chat</a></p>
<p><a href="{% url 'project_chat' project.slug 'plan' 'location' %}">Plan Location Chat</a></p>
<p><a href="{% url 'project_chat' project.slug 'plan' 'dates' %}">Plan Dates Chat</a></p>

{% if project.current_stage == project.Stage.PLAN %}
  <form method=POST>{% csrf_token %}<button name=action value=start_plan>[TESTING] Start Act Stage</button></form>
{% endif %}
