{% extends "base.html" %}
{% load static %}

{% load area_details %}
{% get_areas as areas %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% block title %}{% include "partials/title.html" with title=area.name|add:' Spring' %}{% endblock %}

    {% include "partials/vertical-spacer.html" with space="2" %}

    <div class="flex flex-row flex-wrap gap-6 sm:gap-x-4 justify-center">
        {% for avatar in avatars %}
            <img class="inline" src="{{ avatar.image_url|default_if_none:'#' }}" alt="avatar icon">
        {% endfor %}

        {% if rivers|length == 0 %}
            {% if area.name == user.post_code.area.name %}
                {% include "partials/salmon-of-knowledge.html" with text="No rivers in this spring yet. Will you start the first river?" %}
            {% else %}
                {% include "partials/salmon-of-knowledge.html" with text="No rivers in this spring yet. Who will start the first river?" %}
            {% endif %}
        {% else %}
            {% for river in rivers %}
                {% include "river/river_card.html" with river=river %}
            {% endfor %}
        {% endif %}
    </div>

    {% include "partials/vertical-spacer.html" with space="4.5" %}

    {% if area.name == user.post_code.area.name %}
        {% include "partials/call-to-action.html" with main="You can’t find anything that fits your idea? Please consider starting your own river!" button="Start a new river" url3='start_river' info="" bg="bg-resources-two" %}
    {% endif %}
    {#    Hidden for now, unhide when Estuary exists! #}
    {#    {% include "partials/call-to-action.html" with main="Are you interested in rivers from other areas? Explore springs from top navigation!" bg="bg-yellow" %}#}
{% endblock content %}
