{% extends "base.html" %}
{% load static %}

{% load area_details %}
{% get_areas as areas %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% block title %}{% include "partials/title.html" with title=area.name|add:' Spring' %}{% endblock %}

    {% include "partials/vertical-spacer.html" with space="2" %}

    <div class="flex flex-col gap-6">
        {% for avatar in avatars %}
            <img class="inline" src="{{ avatar.image_url|default_if_none:'#' }}" alt="avatar icon">
        {% endfor %}

        {% for river in rivers %}
            {% include "river/river_card.html" with river=river %}
        {% endfor %}
    </div>


    {% include "partials/vertical-spacer.html" with space="4.5" %}
    {% if area.name == user.post_code.area.name %}
        <section class="bg-resources-two">
            {% include "partials/call-to-action.html" with main="You can’t find anything that fits your idea? Please consider starting your own river!" button="Start a new river" url3='start_river' info="" %}
        </section>
    {% endif %}
{#    Hidden for now, unhide when Estuary exists! #}
{#    <section class="bg-yellow">#}
{#        {% include "partials/call-to-action.html" with main="Are you interested in rivers from other areas? Explore springs from top navigation!" %}#}
{#    </section>#}


{% endblock content %}