{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% load custom_filters %}

{% load area_details %}
{% get_areas as areas %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <div class="max-w-screen-xl mx-auto">
        {% block title %}{% include "partials/title.html" with title=area.name|add:' Map' %}{% endblock %}
        <div x-data="{
                isOpen: false,
                selectedMarker: null,
                open (marker) {
                    this.isOpen = true
                    this.selectedMarker = marker
                },
                close () {
                    this.isOpen = false
                }
            }"
             class="relative w-full h-[600px] overflow-hidden">
            <div class="absolute h-full z-20 transition-[width,opacity] duration-300"
                 :class="isOpen ? 'w-[340px] opacity-100' : 'w-0 opacity-0'">
                <div class="absolute right-0 w-[340px] overflow-x-hidden h-full p-4 rounded-sm shadow-map-detail bg-white">
                    <div x-html="selectedMarker ? selectedMarker.html : ''"></div>
                    <button class="absolute top-1 right-1" @click="close()">
                        {% include 'partials/close.html' with size=4 %}
                    </button>
                </div>
            </div>
            <div x-map="{
                    markers: {{ markers|to_json }},
                    padding: isOpen ? { left: 340 } : null,
                 }"
                 @click-marker="open($event.detail)"
                 @click-map="close()"
                 class="absolute w-full h-full z-10">
            </div>
        </div>
    </div>
{% endblock content %}
