{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% load area_details %}
{% get_areas as areas %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <div class="max-w-screen-xl mx-auto">
        {% block title %}{% include "partials/title.html" with title=area.name|add:' Map' %}{% endblock %}

        <div x-data="{
                isOpen: false,
                selectedMarker: null,
                open (marker) {
                    this.isOpen = true
                    this.selectedMarker = marker
                },
                close () {
                    this.isOpen = false
                }
            }"
             class="relative w-full h-[500px] overflow-hidden">
            <div class="absolute h-full z-20 transition-[width,opacity] duration-300"
                 :class="isOpen ? 'w-64 opacity-100' : 'w-0 opacity-0'">
                <div class="absolute right-0 w-64 overflow-hidden h-full bg-white p-4 rounded-sm shadow-map-detail">
                    <h2>deets</h2>
                    <pre x-text="JSON.stringify(selectedMarker, null, 2)"></pre>
                    <button @click="close()">close</button>
                </div>
            </div>
            <div x-map="
                {
                    markers: [
                        {
                            name: 'Foo',
                            icon: 'pin',
                            coordinates: [-5.9273, 54.5993],
                        },
                        {
                            name: 'Bar',
                            icon: 'pin',
                            coordinates: [-5.9236, 54.6009]
                        },
                        {
                            name: 'Baz',
                            icon: 'circle',
                            coordinates: [-5.9146, 54.6033],
                        },
                        {
                            name: 'Bin',
                            icon: 'circle',
                            coordinates: [-5.9202, 54.5967],
                        },
                    ]
                }"
                 @click-marker="open($event.detail)"
                 @click-map="close()"
                 class="absolute w-full h-full z-10">
            </div>
        </div>
    </div>
{% endblock content %}
